/* ==========================================================================

   Site Footer and Colophon
   ====

   ========================================================================== */
footer {
  padding: 36px 0 0;
  background: #3F3F3F;
  color: $color-light;
  .l-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  a {
    color: $color-light;
    text-decoration: none;
    &.a--fx {
      color: $color-light;
      z-index: 1;
      &:after {
        background: $color-gray-light;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0 0 7px;
    }
  }
  .ccs {
    max-width: 220px;
    margin: 30px 0 0;
  }
  .logo {
    svg {
      width: 97px;
    }
  }
  .nav--socials {
    margin: 0 0 0 15px;
    a {
      position: relative;
      display: inline-block;
      width: 35px;
      height: 35px;
      margin: 10px 22px 0 0;
      border-radius: 50%;
      border: 1px solid $color-red;
      text-align: center;
      line-height: 35px;
      z-index: 1;
      transition: all 100ms ease-out;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
        z-index: -1;
        transform: scale(0.65);
        opacity: 0;
        background: $color-red;
        transition: transform 100ms ease-out;
        border-radius: 50%;
      }
      img {
        vertical-align: middle;
        margin: 0 auto;
      }
      &:hover {
        border: 1px solid transparent;
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}
.footer {
  &__line {
    width: 100%;
    height: 1px;
    background: $color-light;
  }
  &__colophon {
    background: $color-light;
    font-size: 0.88em;
    padding: 20px 0 10px;
    .l-container {
      padding-top: 0;
      padding-bottom: 0;
    }
    p {
      color: $color-gray-dark;
    }
  }
}

@at-root .page-payment {
  footer {
    display: none !important;
  }
}