/* ==========================================================================

   Site Header
   ====

   ========================================================================== */
header#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: $color-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  z-index: 8;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
  }
  .is-cart & {
    background: $color-light !important;
  }
  // &.is-fixed:not(.is-hide) {
  //   .logo svg path { fill: $color-red; }

  // }
  .page-home &, .page-discover &, .page-stories & {
    &.is-top {
      background-color: transparent;
      transition: background 400ms ease-out;
      &:after {
        content: none;
      }
      .logo svg path {
        fill: $color-dark;
      }
    }
  }
  .page-payment & {
    nav{
      &.menu {
        display: none;
      }
      &.go-back {
        display: flex;
        a {
          display: flex;
          align-items: center;
          padding: 0 30px;
          color: $color-dark;
          @include style-uppercase();
          img {
            vertical-align: middle;
            margin: 0 14px 2.5px 0;
          }
        }
      }
    }
  }
  nav {
    //flex: 1 0 0;
    display: flex;
    flex-wrap: wrap;
    & > ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        display: flex;
        //align-items: center;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          //padding-right: 0;
        }
        a {
          display: flex;
          align-items: center;
          padding: 0 30px;
          color: $color-dark;
          @include style-uppercase();
          .triangle {
            display: inline-block;
            margin: 0 0 2px 4px;
            @include triangle($color-dark, 5px, 'down')
          }
        }
      }
    }
    &.go-back {
      display: none;
    }
    &.tools {
      justify-content: flex-end;
      .cart {
        a {
          margin: 0 0 4px;
          & > div {
            position: relative;
          }
        }
        &__badge {
          display: inline-block;
          vertical-align: sub;
          line-height: 20px;
          width: 20px;
          height: 20px;
          text-align: center;
          border-radius: 50%;
          position: absolute;
          top: 3px;
          left: -20px;
          &--active {
            left: -24px;
            top: 1px;
            font-size: 10px;
            color: $color-light;
            background: $color-red;
          }
        }
      }
      .search {
        a {
          margin: 0 0 4px;
        }
      }
    }
  }
  .menu {
    &__hamburger {
      a {
        padding: 0 38.5px;
        svg {
          margin: 0 0 4px;
        }
        &:hover {
          svg {
            path {
              fill: $color-light;
            }
          }
        }
      }
    }
    a:hover {
      color: $color-light;
    }
    a[data-hover] {
      position: relative;
      span {
        position: relative;
        z-index: 1;
      }
      .menu__hover__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
    .menu__hamburger .menu__hover__bg {background: #BDBBBB; }
    .menu__men .menu__hover__bg {background: #55565A; }
    .menu__women .menu__hover__bg {background: #5bb6b2; }
    .menu__collections .menu__hover__bg {background: $color-red; }
  }
  .logo {
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    text-align: center;
    svg {
      width: 97px;
      height: 35px;;
      margin: 0 auto;
      path {
       
      }
    }
  }
}
.dropdowns {
  position: absolute;
  top: 99px;
  left: 0;
  width: 100%;
  color: $color-light;
  z-index: 1;
  .l-container {
    margin: 1px 0 0 66px;
    width: 1600px;
  }
  .border-r {
    position: relative;
    &:after {
      content: '';
      width: 1px;
      top: 5%;
      right: 30px;
      height: 90%;
      position: absolute;
      opacity: 0.75;
      background: $color-light;
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    max-width: 200px;
    min-height: 200px;
    li {
      margin: 0 0 1.5em;
      &.nav__featured {
        font-size: 1.75em;
        a {
          font-weight: 700;
        }
      }
    }
  }
  .l-flex {
    justify-content: space-between;
  }
  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $color-light !important;
    &:after {
      content: '';
      background: rgba($color-gray-dark, 0.75);
      bottom: 2px;
      left: 0;
      width: 100%;
      position: absolute;
      height: 0.4em;
      z-index: -1;
      opacity: 0.5;
      transform: scaleY(0);
      transform-origin: 0 100%;
      transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:hover:after {
      transform: scaleY(1);
    }
  }
  [data-menu] {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 70px 0 30px;
  }
  [data-menu="hamburger"] {
    background: #BDBBBB;
    .nav {
      &--primary {
        li {
          font-size: 1.75em;
          &:last-child {
            margin: 0;
          }
        }
        a {
          font-weight: 700;
        }
      }
      &--tools {
        li {
          &:last-child {
            margin: 0;
          }
        }
      }
      &--select {
        &__title {
          margin-bottom: 8px;
        }
        p {
          line-height: 1.6em;
        }
      }
      &--socials {
        a {
          display: inline-block;
          width: 35px;
          height: 35px;
          margin: 10px 22px 0 0;
          border-radius: 50%;
          border: 1px solid $color-light;
          text-align: center;
          line-height: 35px;
          &:after {
            content: none;
          }
          img {
            vertical-align: middle;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .logo__bg {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.05;
    height: 100%;
    transform: translate3d(30%, 0, 0);
    overflow: hidden;
    img {
      max-width: 100%;height: 320px;
      position: relative;
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
  }
  [data-menu="men"] {
    background: #55565A;   
  }
  [data-menu="women"] {
    background: #5bb6b2;   
  }
  [data-menu="collections"] {
    background: $color-red;   
  }
}