// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-grid-classes {
    .l-container {
      @include make-container();
      @include make-container-max-widths();
    }
  }
  
  // Fluid container
  //
  // Utilizes the mixin meant for fixed width containers, but without any defined
  // width for fluid, full width layouts.
  
  @if $enable-grid-classes {
    .l-container-fluid {
      @include make-container();
    }
  }
  
  // Row
  //
  // Rows contain and clear the floats of your columns.
  
  @if $enable-grid-classes {
    .l-row {
      @include make-row();
    }
  
    // Remove the negative margin from default .row, then the horizontal padding
    // from all immediate children columns (to prevent runaway style inheritance).
    .no-gutters {
      margin-right: 0;
      margin-left: 0;
  
      > .l-col,
      > [class*="l-col"] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  
  // Columns
  //
  // Common styles for small and large grid columns
  
  @if $enable-grid-classes {
    @include make-grid-columns();
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .l#{$infix}-none         { display: none !important; }
      .l#{$infix}-inline       { display: inline !important; }
      .l#{$infix}-inline-block { display: inline-block !important; }
      .l#{$infix}-block        { display: block !important; }
      .l#{$infix}-table        { display: table !important; }
      .l#{$infix}-table-cell   { display: table-cell !important; }
      .l#{$infix}-flex         { display: flex !important; flex-wrap: wrap; }
      .l#{$infix}-inline-flex  { display: inline-flex !important; }
    }
  }
  

  figure {
    margin: 0 0 40px;
    img {
      @include img-responsive();
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
    font-kerning: auto;
    &.is-loading {
      cursor: wait !important;
    }
  }

  .color {
    &--1 { background: #000000 }
    &--2 { background: #040D5E }
    &--3 { background: #BDBBBB }
    &--4 { background: #E1251B }
    &--5 { background: #F8E71C }
    &--6 { background: #FFFFFF }
  }

  .bg--gray-light {
    background: rgba($color-gray-light, .17);
  }

  [data-animate], [data-title], [data-subtitle], [data-storytitle] {
    overflow: hidden;
    opacity: 0;
  }