/* ==========================================================================

Application Themes
====

========================================================================== */

.products {
  a {
    text-decoration: none;
    color: $color-dark;
    &:hover {
      .picture {
        transform: scale(0.9);
      }
      .product__item__badge--favorite {
        opacity: 1;
        transition: opacity 300ms ease-out;
      }
    }
  }
  .product__item {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 60px;
    background: $color-gray-light;
    &__picture {
      width: 100%;
      position: relative;
      flex: 0 1 auto;
      display: block;
      .picture {
        margin: 40px auto;
        transform: scale(1);
        transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
      }
      &:hover {
        .product__item__badge--quickview {
          opacity: 1;
          transition: opacity 300ms ease-out;
        }
      }
    }
    figcaption {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding: 25px 0 0;
      background: $color-light;
    }
    &__types {
      flex: 0 0 50%;
      text-align: left;
      .color {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: 0 5px 0 0;
        &--1 { background: #000000 }
        &--2 { background: #040D5E }
        &--3 { background: #BDBBBB }
        &--4 { background: #E1251B }
        &--5 { background: #F8E71C }
        &--6 { background: #FFFFFF }
      }
    }
    &__badge {
      position: absolute;
      z-index: 2;
      &--new {
        top: 30px;
        left: 25px;
        text-transform: uppercase;
        font-style: italic;
        font-size: 0.75em;
      }
      &--sale {
        top: 30px;
        left: 25px;
        text-transform: uppercase;
        font-style: italic;
        font-size: 0.75em;
        color: $color-red;
      }
      &--favorite {
        cursor: pointer;
        opacity: 0;
        top: 30px;
        right: 25px;
      }
      &--quickview {
        cursor: pointer;
        opacity: 0;
        bottom: 30px;
        right: 25px;
        @include style-uppercase();
        white-space: nowrap;
        img {
          vertical-align: sub;
          margin-left: 5px;
          display: inline-block;
        }
      }
    }
    &__sizes {
      flex: 0 0 50%;
      text-align: right;
      .size {
        font-size: 0.88em;
        color: $color-gray-light;
        display: inline-block;
        &:after {
          content: '-';
          margin-left: 4px;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
    &__title {
      text-align: left;
      flex: 1 0 0;
      margin: 20px 0 0;
      font-size: 1.25em;
      font-weight: 700;
      align-self: baseline;
    }
    &__price {
      position: relative;
      align-self: flex-end;
      text-align: right;
      flex: 0 1 0;
      margin: 20px 0 0;
      white-space: nowrap;
      span {
        display: block;
      }
      &--sale {
        position: absolute;
        bottom: 100%;
        right: 0;
        font-size: 0.75em;
        display: inline-block !important;
        color: $color-red;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 5%;
          width: 90%;
          height: 1px;
          background: rgba($color-red, 0.75);
          transform: translate3d(0, -50%, 0);
          transform-origin: 0 0;
        }
      }
    }
    &__description {
      font-size: 0.88em;
      text-align: left;
      line-height: 1.5em;
      margin: 15px 0 0;
    }
  }
  .product__bg {
    margin: 0;
    overflow: hidden;
  }
}

.btn {
  position: relative;
  display: inline-block;
  background: $color-dark;
  color: $color-light;
  text-align: center;
  min-width: 122px;
  text-decoration: none;
  font-size: 0.88em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px;
  border: 1px solid $color-dark;
  transition: background 300ms ease-out;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-light;
    transform: scaleY(0);
    transform-origin: 0 0%;
    transition: 200ms transform ease-out;
  }
  &--lg {
    padding: 12px 50px;
  }
  &--block {
    display: block;
  }
  &--50 {
    width: 48%;
    &:first-child {
      margin-right: 2%;
    }
  }
  &__wrapper {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
  }
  &__text {
    position: relative;
    display: inline-block;
    transition: 200ms transform ease-out 100ms;
    &:after {
      content: attr(data-btn);
      display: inline-block;
      color: $color-dark;
      position: absolute;
      top: 0;
      left: 0;
      transition: 200ms transform ease-out;
      transform: translate3d(0, 100%, 0);
    }
  }
  &:hover {
    &:before {
      transform: scaleY(1);
    }
    .btn__text {
      transform: translate3d(0, -100%, 0);
    }
  }
  &--outline {
    background-color: $color-light;
    &:before {
      background-color: $color-dark;
    }
    .btn {
      &__text {
        color: $color-dark;
        &:after {
          color: $color-light;
        }
      }
    }
  }
  &--fb {
    background-color: #124C7F;
    border: 1px solid #124C7F;
    .btn__text {
      &:after {
        color: #124C7F;
      }
    }
  }
  &--red {
    background-color: $color-red;
    border: 1px solid $color-red;
    .btn__text {
      &:after {
        color: $color-red;
      }
    }
  }
  &--hide {
    transition: opacity 400ms ease-out;
    opacity: 0.5;
    &:hover {
      &:before {
        content: none;
      }
      .btn__text {
        transform: none;
      }
    }
  }
  &--disabled {
    cursor: not-allowed;
    background: $color-gray-light;
    border-color: transparent;
    .button__text {
      opacity: 0.5;
      &:after {
        content: none;
      }
    }
    &:hover {
      &:before {
        content: none;
      }
      .btn__text {
        transform: none;
      }
    }
  }
}

.a--fx {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $color-dark;
  &:after {
    content: '';
    background: rgba($color-gray-dark, 0.75);
    bottom: 2px;
    left: 0;
    width: 100%;
    position: absolute;
    height: 0.4em;
    z-index: -1;
    opacity: 0.5;
    transform: scaleY(0);
    transform-origin: 0 100%;
    transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover:after {
    transform: scaleY(1);
  }
}
label {
  cursor: pointer;
  line-height: 1em;
  display: inline-block;
  img {
    max-width: 100%;
    height: 1.2em;
  }
  &.label--sm {
    font-size: 0.75em;
    padding: 15px 0 0;
  }
  input {
    font-family: $font-family-sans;
    &[type="radio"], &[type="checkbox"] {
      @include visually-hidden; 
    }
    &[type="radio"] {
      & + span {
        position: relative;
        display: inline-block;
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        border: 1px solid $color-gray-demi;
        vertical-align: sub;
        margin: 0 10px 0 0;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          transform: scale(0);
          transition: transform 200ms ease-out;
          background: $color-gray;
        }
      }
      &:checked {
        & + span {
          &:before {
            transform: scale(0.65);
          }
        }
      }
    }
    &[type="checkbox"] {
      & + span {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: $color-gray-light;
        border: 1px solid #979797;
        vertical-align: baseline;
        margin: 0 10px 0 0;
        &:before {
          content: '\2714';
          position: absolute;
          top: -1px;
          left: -1.5px;
          width: 11px;
          height: 8px;
          opacity: 0;
          color: $color-gray;
        }
      }
      &:checked {
        & + span {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}