.modal {
  &--cart {
    height: calc(100vh - 100px);
    top: 100px;
    @at-root .header-hide & {
      height: 100vh;
      top: 0;
    }
    z-index: 7;
    .list-products__item {
      figure {
        margin: 0 22px 0 0;
      }
    }
    .modal {
      &__wrapper {
        top: 0 !important;
        width: 100%;
        max-width: 611px;
        left: auto;
        right: 0;
        opacity: 1;

        z-index: 10;
        height: 100%;

        transform: translate3d(100%, 0, 0);
        transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
        .l-container {
          padding-left: 100px;
          padding-right: 100px;
        }
      }
      &__close {
        top: 40px;
        right: 40px;
      }
    }
  }
}

.list-products {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    display: flex;
    flex-wrap: wrap;
    figure {
      display: inline-block;
      width: 98px;
      height: 98px;
      margin: 0 22px 0 0;
      border: 1px solid $color-gray-light;
      img {
        width: 100%;
      }
    }
    &__info {
      padding: 0 0 20px;
      h4 {
        font-size: 1em;
        margin: 5px 0;
      }
      p {
        font-size: 0.75em;
      }
      &__actions {
        position: absolute;
        bottom: 0;
        a {
          color: $color-gray-light;
          @include style-uppercase();
          margin: 0 35px 0 0;
        }
      }
    }
    &__price {
      font-weight: 700;
    }
  }
}

.block {
  position: relative;
  padding: 15px 0;
  &--shipping {
    text-transform: uppercase;
    font-size: 0.75em;
    &:before {
      content: '';
      position: absolute;
      width: calc(100% - 60px);
      left: 30px;
      height: 1px;
      top: 0;
      background-color: $color-red;
    }
    p {
      line-height: 1.4;
    }
  }
  &--total {
    margin-top: 40px;
    h5 {
      font-size: 1em;
    }
  }
  form {
    display: flex;
    height: 50px;
    input {
      padding: 15px 30px;
      background: rgba($color-gray-light, 0.17);
      box-shadow: none;
      border: 0;
      appearance: none;
      flex: 1 0 0;
    }
    button {
      flex: 0 0 120px;
      box-shadow: none;
      border: 0;
      appearance: none;
      font-size: 0.88em;
      text-align: center;
      font-weight: bold;
      width: 120px;
      background: $color-gray-light;
      color: $color-light;
      text-transform: uppercase;
    }
  }
}

.is-cart {
  overflow: hidden;
  position: relative;
  #header {
    z-index: 10;
  }
  .modal--cart {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 300ms ease-out;
    .modal {
      &__wrapper {
        transition: all 300ms ease-out 50ms;
        transform: translate3d(0%, 0, 0);
      }
    }
  }
}
