[data-namespace="home"] {
  section {
    position: relative;
    padding: 0 0 120px;
    header {
      h2 {
        font-size: 3.0625em;
        color: $color-dark;
      }
      h3 {
        font-size: 2em;
        margin-bottom: 50px;
      }
      h5 {
        color: $color-gray-demi;
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 400;
      }
    }
  }
  .bg-half {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: $color-gray-light;
      opacity: 0.17;
    }
  }
  .hero {
    padding: 0;
    .slider {
      .hero {
        &__item {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          height: 90vh;
          overflow: hidden;
        }
        &__title {
          position: relative;
          display: inline-block;
          z-index: 1;
          h2 {
            font-size: 5em;
            font-weight: 700;
            line-height: 1.1em;
            //overflow: hidden;
            perspective: 400px;
          }
          &__line {
            margin-top: 35px;
            width: 40%;
            background: $color-red;
            height: 4px;
            border-radius: 1px;
          }
        }
        &__bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: 50% 50%;
        }
        &__info {
          &__dots {
            display: block;
            position: absolute;
            top: 71%;
            left: 79%;
            width: 18px;
            height: 18px;

            z-index: 4;

            span {
              position: absolute;
              left: 100%;
              top: 50%;
              display: block;
              transform: translate3d(7px, -50%, 0);
              color: $color-dark;
              white-space: nowrap;
              font-weight: 700;
              line-height: 1em;

              margin: 1px 0 0;
            }
            &__bg {
              
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;

              border-radius: 50%;
              
              background: $color-gray-light;
              opacity: 0.8;
            }
            &__circle {

              position: absolute;
              display: block;
              width: 100%;
              height: 100%;

              border-radius: 50%;

              background: $color-gray-demi;
            }
          }

        }
      }
      &__navigator {
        position: absolute;
        width: 40%;
        max-width: 585px;
        right: 0;
        bottom: 0;
        height: 120px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background: $color-gray;

        transform: translate3d(0, 30%, 0);
        z-index: 2;
        & > * {
          flex: 1 0 0;
        }
        &--lines {
          width: 150px;
          height: 1px;
          background: $color-bg;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
        }
        &--arrows {
          text-align: center;
          & > * {
            margin: 0 auto;
            display: block;
            line-height: 0;
          }
        }
        &__line {
          cursor: pointer;
          flex: 1 0 0;
          height: 2px;
          background: $color-red;
          &--active {
          }
        }
        &__arrow {
          position: relative;
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 1px solid $color-red;
          text-align: center;
          overflow: hidden;
          cursor: pointer;
          span {
            display: inline-block;
            position: relative;
            z-index: 1;
            width: 7px;
            height: 14px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin: 9px 0;
          }
          &--left {
            margin: 0 25px 0 0;
            span {
              margin-left: -1px;
              background-image: url('../images/icons/arrow-l.svg')
            }
          }
          &--right {
            margin: 0 0 0 25px;
            span {
              margin-left: 2px;
              background-image: url('../images/icons/arrow-r.svg')
            }
          }
          &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0.65);
            opacity: 0;
            background: $color-red;
            transition: transform 100ms ease-out;
            border-radius: 50%;
          }
          &:hover {
            .slider__navigator__arrow__bg {
              opacity: 1;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  .latest-stories, .discover {
    padding: 120px 0;
    .l-story {
      display: block;
      color: $color-dark;
      text-decoration: none;
      &__category {
        margin: 30px 0 0;
        text-transform: uppercase;
        color: $color-gray-light;
        font-weight: 300;
      }
      &__title {
        margin: 20px 0 0;
        font-size: 1.25em;
        line-height: 1.3;
        font-weight: 600;
        .lines {
          display: inline-block !important;
          &:after {
            content: '';
            background: $color-gray-mid;
            bottom: 2px;
            left: 0;
            width: 100%;
            position: absolute;
            height: 0.4em;
            z-index: -1;
            opacity: 0.5;
            transform: scaleY(0);
            transform-origin: 0 100%;
            transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }
      &__bg {
        overflow: hidden;
        height: 450px;
        img {
          transform-origin: 50% 100%;
          transform: scale(1.05);
          transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
      &:hover {
        .l-story {
          &__bg img {
            transform: scale(1);
            transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
          }
          &__title .lines:after {
            transform: scaleY(1);
          }
        }
      }
    }
  }
  .shop-by-look {
    .sb-look__categories {
      flex-direction: column;
      margin: 0;
      &__bg {
        position: relative;
        overflow: hidden;
        & > div, img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      figcaption {
        position: relative;
        z-index: 2;
        background: $color-gray;
        width: 90%;
        max-width: 245px;
        height: 75px;
        margin: -24px auto 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .sb-look__category {
          display: inline-block;
          padding: 10px 22px;
          @include style-uppercase();
          color: $color-light;
        }
      }
    }
    .l-flex {
      flex: 1 0 0;
    }
    .sb-look__items {
      &__wrapper {
        background: $color-gray-light;
        overflow: hidden;
        position: relative;
      }
      .l-col-6:first-child {
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 10%;
          height: 80%;
          width: 1px;
          background: rgba($color-gray, 0.25);
        }
      }
    }
    .sb-look__item {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0;
      background: $color-gray-light;
      img {
        flex: 0 1 auto;
        margin: 40px auto;
      }
      figcaption {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 0 0 40px;
      }
      &__types {
        flex: 0 0 50%;
        text-align: left;
        .color {
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          margin: 0 5px 0 0;
        }
      }
      &__sizes {
        flex: 0 0 50%;
        text-align: right;
        .size {
          font-size: 0.88em;
          color: $color-light;
          display: inline-block;
          &:after {
            content: '-';
            margin-left: 4px;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
      &__title {
        text-align: left;
        flex: 1 0 0;
        margin: 20px 0 0;
        font-size: 1.25em;
        font-weight: 700;
      }
      &__price {
        text-align: right;
        flex: 0 1 0;
        margin: 20px 0 0;
        white-space: nowrap;
      }
    }
  }
  .collections {
    padding: 120px 0;
    background: $color-gray;
    header {
      h2 {
        color: $color-light;
      }
      margin: 0 0 70px;
    }
    h4 {
      color: $color-gray-demi;
      font-size: 1.25em;
      margin: 0 0 40px;
      font-weight: 400;
      text-transform: uppercase;
    }
    figure {
      margin: 0;
      overflow: hidden;
      height: 0;
      padding: 0 0 62%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .tab__btn__hover {
      display: block;
      color: $color-light;
      font-size: 1.25em;
      margin: 0 0 40px;
      text-decoration: none;
      svg {
        float: right;
        width: 40px;
        path {
          fill: $color-gray-demi;
        }
      }
    }
  }
  .discover {
    header {
      margin: 0 0 70px;
    }
    figcaption {
      margin: 40px 0 0;
      svg {
        float: right;
        width: 40px;
        path {
          fill: $color-gray-demi;
        }
      }
    }
    a:hover {
      figcaption {
        svg {
          path {
            fill: $color-red;
          }
        }
      }
    }
  }
  .instagram {
    padding: 140px 0;
    .feed {
      margin: 0 -12.5px;
      a {
        display: inline-block;
        text-decoration: none;
      }
      figure {
        margin: 0;
        .like {
          color: $color-gray-light;
          img {
            display: inline-block;
            max-width: 100%;
            height: 1em;
            margin: 0 10px 0 0;
            vertical-align: sub;
          }
        }
        p {
          margin: 10px 0 0;
          font-size: 0.88em;
          line-height: 1.4;
        }
      }
      .l-col-3 {
        padding: 0 12.5px;
      }
    }
    &__picture {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-position: 50%;
      margin: 0 0 20px;
      img {
        visibility: hidden;
        opacity: 0;
        @include img-responsive();
      }
    }
  }
  .newsletter {
    background: rgba($color-gray-light, .17);
    padding: 140px 0 212px;
    header {
      p {
        margin: 10px 0 0;
        font-size: 1.25em;
        color: #7F7F7F;
      }
      margin: 0px 0 55px;
    }
    .form {
      max-width: 462px;
      display: flex;
      height: 70px;
      margin: 0 auto;
      input {
        padding: 15px 30px;
        background: $color-gray;
        color: $color-light;
        box-shadow: none;
        border: 0;
        appearance: none;
        flex: 1 0 0;
        margin: 0 3px 0 0;
      }
      button {
        flex: 0 0 120px;
        box-shadow: none;
        border: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        appearance: none;
        font-size: 0.88em;
        text-align: center;
        font-weight: bold;
        width: 120px;
        background: $color-red;
        color: $color-light;
        text-transform: uppercase;
      }
    }
    .checkboxes {
      max-width: 300px;
      margin: 30px auto 0;
      .l-col {
        padding: 0;
      }
      label {
        color: $color-dark;
        @include style-uppercase();
      }
    }
  }
  .magazine {
    padding: 0;
    position: relative;
    background: #E9E7E8;
    min-height: 600px;
    &__line {
      width: 100px;
      height: 2px;
      background: $color-red;
      margin: 30px 0;
    }
    .l-container {
      position: static;
    }
    .l-col-5 {
      padding-top: 120px;
      padding-bottom: 48px;
      background: $color-gray;
      transform: translate3d(0, -72px, 0);
      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 33.333333vw);
        height: calc(100% + 72px);
        background-color: $color-gray;
        transform: translate3d(-33.333333vw, 0, 0);
      }
    }
    header {
      max-width: 270px;
      h5 {
        margin: 0 0 20px;
      }
      h2 {
        color: $color-light;
      }
      p {
        color: $color-light;
      }
      a {
        margin: 45px 0 0;
        text-decoration: none;
        display: block;
        color: $color-light;
        svg {
          width: 40px;
          float: right;
        }
      }
    }
    figure {
      position: absolute;
      top: 0;
      left: 50vw;
      margin: 0;
      height: 100%;
      width: 50vw;
      overflow: hidden;
      padding: 60px 20px 60px 0;
      img {
        height: 100%;
      }
    }
  }
}