.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 10;

  background: $color-gray;
  &__logo {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    &__bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      text-align: center;
    }
    svg {
      position: relative;
      width: 200px;
      @include img-responsive();

      margin: 0 auto;
      opacity: 1;

    }
    .loader__title {
      color: $color-gray-light;
      font-size: 5em;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 1em;
      overflow: hidden;
      opacity: 0;
      position: relative;
      width: 220px;
      text-align: center;
      svg {
        margin: 0 auto;
        width: 190px;
      }
    }
  }

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba($color-dark, 0.2);
  }
}