div[data-namespace="login"] {
  main {
    padding: 100px 0 0;
    position: relative;
    height: 100vh;
    display: flex;
    .l-container-fluid  {
      width: 100%;
    }
    .bg--gray-light {
      background-color: $color-gray-light;
    }
    .block {
      max-width: 300px;
      h2 {
        font-size: 2em;
        margin: 0 0 25px;
      }
      form {
        height: auto;
      }
      .forgot-password {
        margin: 10px 0 0;
        text-align: right;
        font-size: 0.75em;
      }
      input {
        padding: 15px 30px;
        background: rgba($color-gray-light, 0.17);
        box-shadow: none;
        border: 0;
        appearance: none;
        flex: 1 0 0;
        height: 50px;
        & + input {
          margin: 20px 0 0;
        }
      }
      .btn + .btn {
        margin: 20px 0 0;
      }
    }
  }
}
body.page-login {
  height: 100vh;
  overflow: hidden;
}