.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 6;
  overflow-y: scroll;
  pointer-events: none;
  transition: all 150ms ease-out;
  &__wrapper {
    transition: all 150ms ease-out;
    cursor: default;
    position: absolute;
    top: 10vh;
    width: 100%;
    left: 0;
    background: $color-light;
    z-index: 10;
    // min-height: calc(100vh - 380px);
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    @at-root .header-hide & {
      top: 5vh;
    }
  }
  &__bg {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-gray-light, 0.9);
    z-index: 2;
  }
  .l-container {
    padding-top: 120px;
    padding-bottom: 120px;
    figure {
      margin: 0;
      img {
        margin: 0 auto;
      }
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: 45px;
    right: 45px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $color-red;
    transition: all 200ms ease-out;
    z-index: 2;
    img {
      margin: 9.5px;
      width: 14px;
      height: 14px;

      @include img-responsive();
    }
    &:hover {
      border-color: $color-dark;
    }
  }
  visibility: hidden;
  opacity: 0;
}
.is-modal {
  overflow: hidden;
  position: relative;
  .modal[data-status="active"] {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 300ms ease-out;
    .modal__wrapper {
      transition: all 300ms ease-out 50ms;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
.thumbnail {
  &__list {
    display: inline-block;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: block;
        width: 98px;
        height: 98px;
        margin: 0 0 22px;
        border: 1px solid $color-gray-light;
        img {
          width: 100%;
        }
      }
    }
  }
}
.product {
  &__details {

  }
  &__category {
    text-transform: uppercase;
    color: $color-gray-light;
    margin: 0 0 10px;
  }
  &__title {
    font-size: 2em;
    margin: 0 0 50px;
  }
  &__price {
    font-size: 1.25em;
    margin: 0 0 40px;
  }
  &__detail {
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    padding: 10px 0;
    strong {
      display: inline-block;
      margin: 0 10px 0 0;
      @include style-uppercase();
      line-height: 20px;
      min-width: 50px;
    }
    &:last-child {
      border-top: 0;
    }
    ul {
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      li {
        display: inline-block;
        cursor: pointer;
        span {
          display: inline-block;
          height: 20px;
          transition: all 200ms ease-out;
        }
      }
      &.color {
        line-height: 0;
        li {
          margin: 0 8px 0 0;
          border: 1px solid transparent;
          border-radius: 50%;
          span {
            width: 20px;
            border-radius: 50%;
            transform: scale(1);
          }
        }
        .color--active {
          border-color: $color-red;
          span {
            transform: scale(0.85);
          }
        }
      }
      &.size {
        line-height: 20px;
        font-size: 0.75em;
        text-transform: uppercase;
        li {
          margin: 0 0.75em 0 0;
          border: 1px solid transparent;
          width: 20px;
          height: 20px;
          text-align: center;
          position: relative;
          &[data-oos] {
            cursor: default;
            opacity: 0.5;
            &:after {
              content: none;
            }
          }
          &:after {
            content: '';
            background: rgba($color-dark, 0.25);
            bottom: 2px;
            left: 0;
            width: 100%;
            position: absolute;
            height: 0.8em;
            z-index: -1;
            opacity: 0.5;
            transform: scaleY(0);
            transform-origin: 0 100%;
            transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
        .size--active {   
          &:after {
            transform: scaleY(1);
          }
        }
      }
    }
  }
  &__size-chart {
    font-size: 0.75em;
    text-align: right;
    margin: 5px 0;
    a {
      text-decoration: underline;
      color: $color-dark !important;
    }
  }
  &__free-shipping {
    margin: 15px 0 0;
    color: $color-red;
  }
}
.btn {
  margin: 40px 0 0;
}