div[data-namespace="payment"] {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  aside {
    order: 0;
    flex: 1 0 33.3333%;
    display: flex;
    // background-image: url('../images/inwind3-1.jpg');
    // background-size: cover;
    // background-position: 50% 50%;
    figure {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  main {
    order: 1;
    flex: 1 0 66.6666%;
    max-width: 1200px;
    display: flex;
    background: $color-light;
    &.thank-you {
      background: $color-gray;
    }
    .l-container-fluid {
      width: 100%;
    }
    .l-col-nopadding:first-child {
      padding-right: 10px;
    }
    .l-col-nopadding:last-child {
      padding-left: 10px;
    }
    .step {
      &__wrapper {
        overflow-y: scroll;
        flex: 1 0 0;
        position: relative;
        z-index: 2;
        &--hide {
          z-index: 0;
          display: none;
        }
        &--full {
          height: calc(100vh - 100px);
          overflow: hidden;
        }
        &--third {
          background: $color-gray;
          color: $color-light;
        }
      }
      &__item {
        .l-container-fluid {
          padding: 60px 100px;
        }
        border-bottom: 1px solid $color-gray-light;
        &--notification {
          //padding: 45px 70px;
          border: 0;
          .btns {
            margin-top: 25px;
          }
          .completed {
            &:after {
              display: none;
              content: none;
            }
          }
          .block {
            padding: 70px 0;
            margin: 0 auto;
            max-width: 300px;
            h2 {
              font-size: 2em;
              margin: 0 0 25px;
            }
            form {
              height: auto;
            }
            .forgot-password {
              margin: 10px 0 0;
              text-align: right;
              font-size: 0.75em;
            }
            input {
              padding: 15px 30px;
              background: rgba($color-gray-light, 0.17);
              box-shadow: none;
              border: 0;
              appearance: none;
              flex: 1 0 100%;
              height: 50px;
              & + input {
                margin: 20px 0 0;
              }
            }
            .btn {
              margin: 40px 0 0;
              & + .btn {
                margin: 20px 0 0;
              }
            }
          }
        }
        h2 {
          font-size: 2em;
          margin: 0 0 15px;
        }
        a {
          font-weight: bold;
        }
        p {
          line-height: 1.6;
          .a--fx {
            &:after {
              bottom: 4px;
            }
          }
        }
        .btn {
          margin: 0;
        }
        form {
          .l-row {
            padding: 20px 0 0;
          }
          input[type="text"] {
            height: 50px;
            padding: 15px 30px;
            background: rgba($color-gray-light, 0.17);
            box-shadow: none;
            border: 0;
            appearance: none;
            width: 100%;
          }
          &.form--payment {
            label {
              margin-bottom: 22px;
              img {
                vertical-align: sub;
              }
            }
          }
        }
        .shipping-method {
          margin-top: 50px;
          margin-bottom: 50px;
          h4 {
            font-size: 1em;
            text-transform: uppercase;
            margin: 0 0 20px;
          }
          label {
            padding: 0;
          }
          .shipping-date {
            font-size: 0.75em;
            color: #BDBBBB;
          }
          .shipping-price {
            font-size: 0.75em;
            text-align: right;
          }
        }
        .form {
          position: relative;
          z-index: 1;
        }
        .completed {
          position: relative;
          h2 {
            font-size: 1.375em;
          }
          p {
            font-size: 0.75em;
            line-height: 1.6;
          }
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% + 1px);
            background: #E9E9E9;
            opacity: 0.9;
          }
        }
        .heightZero {
          overflow: hidden;
          height: 0px;
        }
        .list-products {
          margin-top: 40px;
        }
        .block {
          &--shipping {
            font-size: 1em;
            margin-top: 40px;
            margin-bottom: 40px;
            p {
            }
            &:before {
              content: none;
            }
          }
          &--total {
            h5 {
              margin: 0;
            }
            &:before {
              content: '';
              position: absolute;
              width: calc(100% - 60px);
              left: 30px;
              height: 1px;
              top: 0;
              background-color: $color-red;
            }
            &:after {
              content: '';
              position: absolute;
              width: calc(100% - 60px);
              left: 30px;
              height: 1px;
              bottom: 0;
              background-color: $color-red;
            }
          }
          &--btns {
            margin-top: 40px;
          }
        }
        
        &--not-active {
          & > * {
            opacity: 0.25;
          }
          h2 {
            font-size: 1.375em;
            margin: 0;
          }
          .not-active {
            transition: height 0.5 ease-out;
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
            overflow: hidden;
          }
        }
        &--full {
          height: 100%;
          border: 0;
          overflow-y: scroll;
        }
        &--confirmation {
          .back {
            position: relative;
            padding: 60px 100px 0;
            &__arrow {
              position: relative;
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              border: 1px solid $color-red;
              text-align: center;
              overflow: hidden;
              cursor: pointer;
              span {
                display: inline-block;
                position: relative;
                z-index: 1;
                width: 7px;
                height: 14px;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                margin: 9px 0;
              }
              &--left {
                span {
                  margin-left: -4px;
                  background-image: url('../images/icons/arrow-l-b.svg')
                }
              }
              &__bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scale(0.65);
                opacity: 0;
                background: $color-red;
                transition: transform 100ms ease-out;
                border-radius: 50%;
              }
              &:hover {
                span {
                  margin-left: -4px;
                  background-image: url('../images/icons/arrow-l.svg')
                }
                .back__arrow__bg {
                  opacity: 1;
                  transform: scale(1.1);
                }
              }
            }
          }
          h2 {
            margin: 0 0 25px;
          }
          p {
            font-size: 0.75em;
          }
          form {
            margin: 40px 0;
          }
          label {
            font-size: 0.75em;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 7px;
          }
        }
        &--thank-you {
          .logo {
            position: absolute;
            bottom: 100px;
            left: 95px;
            width: 120px;
            height: 270px;
            background-image: url('../images/Slam_symbol.svg');
            background-repeat: no-repeat;
            background-size: 100% auto;
          }
          p {
            margin: 0 0 15px;
          }
          .line {
            width: 100px;
            height: 2px;
            background: $color-red;
            margin: 10px 0 30px;
          }
        }
      }
    }
  }
}