[data-namespace="products"] {
  main {
    position: relative;
    margin-top: 100px;
    .header {
      width: 100%;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      color: $color-light;
      background-size: cover;
      background-position: 50% 50%;
      background-image: url('../images/products_bg.jpg');
      &__title {
        font-size: 3em;
      }
      &__description {
        font-size: 1.125em;
      }
    }
    .toolbar {
      padding: 45px 0;
      &__header {
        margin-bottom: 45px;
      }
      a {
        color: $color-dark;
        @include style-uppercase();
        .triangle {
          display: inline-block;
          margin: 0 0 2px 4px;
          @include triangle($color-dark, 5px, 'down')
        }
      }
      .filter-toggle {
        &--active {
          .triangle {
            transform: scaleY(-1)
          }
        }
      }
      .select-promo {
        margin: 0 0 0 20px;
        text-align: center;
        border: 1px solid #979797;
        &__item {
          display: inline-block;
          width: 80px;
          padding: 15px 0;
          font-size: 0.88em;
          position: relative;
          color: $color-gray;
          span {
            display: block;
            position: relative;
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(0);
            transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
            transform-origin: 100% 0;
            background: #979797;
          }
          &--active {
            color: $color-light;
            &:before {
              transform: scaleX(1);
              transform-origin: 100% 0;
            }
            &.select-promo__item--sale {
              color: $color-light;
              &:before {
                background: $color-red;
                transform-origin: 0% 0;
              }
            }
          }
          &--sale {
            color: $color-red;
            &:before {
              transform-origin: 0% 0;
            }
          }
        }
      }
    }
  }
}
.panel--filter {
  background: rgba($color-gray-light, 0.25);
  max-height: 0px;
  & > div {
    padding: 45px 0 45px;
  }
  h3 {
    font-size: 1.75em;
    margin: 0 0 40px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      position: relative;
      font-size: 1.125em;
      margin: 0 0 10px;
      cursor: pointer;
      span {
        top: 0;
        left: 0;
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 0 20px 0 0;
        border-radius: 50%;
        line-height: 18px;
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
    &.colors {
      li {
        padding: 0 0 0 32px;
        .color--6 {
          border: 1px solid $color-gray-light;
        }
      }
    }
  }
  .filter {
    &__active {
      color: $color-red;
    }
  }
}