div[data-namespace="register"] {
  main {
    margin: 100px 0 0;
    position: relative;
    height: 100vh;
    display: flex;
    .l-container-fluid  {
      width: 100%;
    }
    .l-col-auto {
      max-width: 360px;
    }
    &.bg--gray-light {
      background-color: $color-gray-light;
    }
    h2 {
      font-size: 2em;
      margin: 0 0 25px;
    }
    input {
      padding: 15px 30px;
      background: $color-light;
      box-shadow: none;
      border: 0;
      appearance: none;
      flex: 1 0 100%;
      height: 50px;
      & + input {
        margin: 20px 0 0;
      }
    }
    .l-col-text {
      padding-top: 60px;
      p {
        font-size: 0.75em;
        margin: 1em 0;
      }
    }
  }
}
body.page-login {
  height: 100vh;
  overflow: hidden;
}