.slider {
  position: relative;
  overflow: hidden;
  & > *:not([data-slide="active"]) {
      width: 100%;
      height: 100%;
      display: none;
      position: absolute !important;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }
    & > [data-slide="active"] {
    position: relative;
    z-index: 2;
  }
  & > [data-slide="next"], & > [data-slide="prev"] {
    display: block;
    z-index: 1;
    visibility: visible;
    opacity: 1;
  }
  .in-trans {
      z-index: 3 !important;
  }
}
[data-slider="gallery"] {
  .slider {
    & > [data-slide="next"], & > [data-slide="prev"] {
      opacity: 0;
    }
  }
}