[data-namespace="stories"] {
main {
  position: relative;
}
section {
  header {
    h2 {
      font-size: 3.0625em;
      color: $color-dark;
    }
    h3 {
      font-size: 2em;
      margin-bottom: 50px;
    }
    h5 {
      color: $color-gray-demi;
      text-transform: uppercase;
      font-size: 1.125em;
      font-weight: 400;
    }
  }
}
.hero {
  min-height: 900px;
  height: 75vh;
  position: relative;
  &__link {
    left: 0;
    width: calc(66.6666% - 30px);
    top: 0;
    height: 100%;
    position: absolute;
    figure {
      img {
        transform-origin: 50% 100%;
        transform: scale(1);
        transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
    & + .l-container-fluid {
      pointer-events: none;
      a {
        text-decoration: none;
        color: $color-light;
        font-size: 1.125em;
        span {
          display: inline-block;
          position: relative;
          z-index: 1;
          &:before {
            content: '';
            background: $color-gray-mid;
            bottom: 2px;
            left: 0;
            width: 100%;
            position: absolute;
            height: 0.4em;
            opacity: 0.5;
            z-index: -1;
            transform: scaleY(0);
            transform-origin: 0 100%;
            transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
        svg {
          margin: 0 0 0 15px;
          width: 40px;
          vertical-align: sub;
        }
      } 
    }
    &:hover {
      figure {
        img {
          transform: scale(1.05);
          transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
      & + .l-container-fluid {
        a {
          span {
            &:before {
              transform: scaleY(1);
            }
          }
        }
      }
    }
  }
  figure {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  article {
    padding: 90px 0;
    color: $color-light;
    .article {
      &__meta {
        margin: 0 0 10px;
      }
      &__title {
        font-size: 3em;
      }
    }
  }
  &__title {
    font-size: 5em;
    margin: 0;
  }
  &__line {
    width: 100px;
    height: 2px;
    background: $color-red;
    margin: 30px 0;
  }
  &__description {
    font-size: 1.2em;
    line-height: 1.4;
    margin: 0;
    max-width: 290px;
  }
}
.article {
  article {
    .l-container {
      position: relative;
      padding-top: 140px;
      padding-bottom: 140px;
    }
    h1 {
      margin: 0 0 45px;
    }
    p {
      margin: 0 0 1em;
      line-height: 1.5em;
    }
  }
  figure {
    margin: 0;
    overflow: hidden;
  }
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: $color-dark;
    @include style-uppercase();
    font-size: 0.88em;
    a {
      text-decoration: none;
    }
    &--active {
      a {
        color: $color-red;
      }
    }
  }
}

.latest-stories {
  padding: 120px 0;
  &--p1 {
    padding: 120px 0 60px;
  }
  &--p0 {
    padding: 0 0 120px;
  }
  .l-story {
    display: block;
    color: $color-dark;
    text-decoration: none;
    &__category {
      margin: 30px 0 0;
      text-transform: uppercase;
      color: $color-gray-light;
      font-weight: 300;
    }
    &__title {
      margin: 20px 0 0;
      font-size: 1.25em;
      line-height: 1.3;
      font-weight: 600;
      .lines {
        display: inline-block !important;
        &:after {
          content: '';
          background: $color-gray-mid;
          bottom: 2px;
          left: 0;
          width: 100%;
          position: absolute;
          height: 0.4em;
          z-index: -1;
          opacity: 0.5;
          transform: scaleY(0);
          transform-origin: 0 100%;
          transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
    &__bg {
      position: relative;
      overflow: hidden;
      height: 450px;
      img {
        transform-origin: 50% 100%;
        transform: scale(1.05);
        transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
    &--video {
      .l-story__bg {
        &:after {
          content: '';
          position: absolute;
          bottom: 30px;
          right: 30px;
          background-image: url('../images/icons/play.svg');
          background-size: 100%;
          width: 35px;
          height: 35px;
          transform: scale(1);
          transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
    &:hover {
      .l-story {
        &__bg img {
          transform: scale(1);
          transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        &__title .lines:after {
          transform: scaleY(1);
        }
      }
      &.l-story--video {
        .l-story__bg {
          &:after {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
.highlights-stories {
  padding: 120px 0;
  &.bg-half {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: #3F3F3F;
      z-index: -1;
    }
  }
  header {
    padding: 0 0 30px;
    h3 {
      color: $color-red;
    }
  }
  .first {
    padding-right: 130px;
    .l-story {
      &__title {
        color: $color-light;
      }
    }
  }
  .last {
    padding-left: 130px;
  }
}
}