[data-namespace="story"] {
main {
  position: relative;
  margin-top: 100px;
}
section {
  header {
    h2 {
      font-size: 3.0625em;
      color: $color-dark;
    }
    h3 {
      font-size: 2em;
      margin-bottom: 50px;
    }
    h5 {
      color: $color-gray-demi;
      text-transform: uppercase;
      font-size: 1.125em;
      font-weight: 400;
    }
  }
}
.hero {
  padding: 70px 0 30px;
  background: rgba($color-gray-light, .17);
  figure {
    position: relative;
    margin: 0;
    img {
      @include img-responsive();
    }
  }
  &__title {
    color: $color-light;
    position: absolute;
    z-index: 1;
    padding: 90px 90px 60px;
    bottom: 0;
    left: 0;
    h1 {
      font-size: 3em;
      margin: 0;
      line-height: 1;
    }
  }
  &__meta {
    padding-top: 30px;
    font-size: 0.88em;
    &--double {
      display: flex;
      justify-content: space-between;
    }
  }
}
.article {
  article {
    .l-container {
      position: relative;
      padding-top: 140px;
      padding-bottom: 140px;
    }
    h1 {
      margin: 0 0 45px;
    }
    p {
      margin: 0 0 1em;
      line-height: 1.5em;
    }
  }
  figure {
    margin: 0;
    overflow: hidden;
  }
}
.gallery {
  padding: 140px 0;
  background: #3F3F3F;
  h2 {
    font-size: 2em;
    color: $color-light;
  }
  .l-col-slider {
    padding: 0;
  }
  .slider {
    margin: 40px 0;
    figure {
      margin: 0;
      img {
        width: 100%;
      }
    }
    &__navigator {
      position: relative;
      width: 60%;
      right: 0;
      bottom: 0;
      margin: 0 0 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      transform: translate3d(0, 30%, 0);
      z-index: 2;
      & > * {
        flex: 1 0 0;
      }
      &--lines {
        height: 1px;
        background: $color-bg;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
      }
      &--arrows {
        text-align: center;
        & > * {
          margin: 0 auto;
          display: block;
          line-height: 0;
        }
      }
      &__line {
        cursor: pointer;
        flex: 1 0 0;
        height: 2px;
        background: $color-red;
        &--active {
        }
      }
      &__arrow {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid $color-red;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        span {
          display: inline-block;
          position: relative;
          z-index: 1;
          width: 7px;
          height: 14px;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin: 9px 0;
        }
        &--left {
          span {
            margin-left: -1px;
            background-image: url('../images/icons/arrow-l.svg')
          }
        }
        &--right {
          span {
            margin-left: 2px;
            background-image: url('../images/icons/arrow-r.svg')
          }
        }
        &__bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(0.65);
          opacity: 0;
          background: $color-red;
          transition: transform 100ms ease-out;
          border-radius: 50%;
        }
        &:hover {
          .slider__navigator__arrow__bg {
            opacity: 1;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
.share {
  position: absolute;
  width: 40%;
  max-width: 585px;
  right: 0;
  bottom: 0;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  background: $color-gray;
  color: $color-light;

  transform: translate3d(0, 30%, 0);
  z-index: 2;
  p {
    margin: 0 !important;
  }
  .social {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 10px 0 0 22px;
    border-radius: 50%;
    border: 1px solid $color-red;
    text-align: center;
    line-height: 35px;
    z-index: 1;
    transition: all 100ms ease-out;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 35px;
      z-index: -1;
      transform: scale(0.65);
      opacity: 0;
      background: $color-red;
      transition: transform 100ms ease-out;
      border-radius: 50%;
    }
    img {
      vertical-align: middle;
      margin: 0 auto;
    }
    &:hover {
      border: 1px solid transparent;
      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
.shop-by-look {
  padding: 140px 0;
}
.sb-look__item {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  background: $color-gray-light;
  img {
    flex: 0 1 auto;
    margin: 40px auto;
  }
  figcaption {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 0 40px;
  }
  &__types {
    flex: 0 0 50%;
    text-align: left;
    .color {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin: 0 5px 0 0;
    }
  }
  &__sizes {
    flex: 0 0 50%;
    text-align: right;
    .size {
      font-size: 0.88em;
      color: $color-light;
      display: inline-block;
      &:after {
        content: '-';
        margin-left: 4px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  &__title {
    text-align: left;
    flex: 1 0 0;
    margin: 20px 0 0;
    font-size: 1.25em;
    font-weight: 700;
  }
  &__price {
    text-align: right;
    flex: 0 1 0;
    margin: 20px 0 0;
    white-space: nowrap;
  }
}
}