[data-tabs] {
  overflow: hidden;
  [data-tab] {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
  }
  [data-tab="active"] {
    position: relative;
    z-index: 1;
    opacity: 1;
  }
}
.tab__btn {
  transition: color 200ms ease-out;
  &--active {
    color: $color-red !important;
    svg path {
      fill: $color-red !important;
    }
    [data-hover]:hover {
      color: $color-light !important;
      &:before {
        width: 100%;
      }
    }
  }
}
[data-hover] {
  position: relative;
  display: inline-block;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-hover);
    display: block;
    color: $color-red;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s cubic-bezier(.17,.67,.32,.87);
    font-size: 1em;
  }
}