.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background: $color-gray-light;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-light;
  }
}
body.is-trans {
  cursor: wait !important;
  a {
    cursor: wait !important;
  }
}