<div class="modal modal--cart" data-modal="cart" data-status>
  <div class="modal__wrapper l-flex">
    <div class="modal__close">
      <img src="assets/images/icons/close.svg" alt="">
    </div>
    <div class="l-container l-flex">
      <div class="l-row l-flex-column justify--between l-flex-1">
        <div class="l-col l-col-auto">
          <ul class="list-products">
            <li class="list-products__item">
              <figure>
                <img src="assets/images/S101301T00_1500_big.jpg" alt="">
              </figure>
              <div class="list-products__item__info l-flex-1">
                <h4>Jacket Island (MRW)</h4>
                <p>NAVY BLUE, M SIZE<br>
                QTY: 1</p>
                <div class="list-products__item__info__actions">
                  <a href="#!">Remove</a>
                  <a href="#!">Edit</a>
                </div>
              </div>
              <div class="list-products__item__price">€ 170.00</div>
            </li>
          </ul>
        </div>
        <div class="l-col l-col-auto">
          <div class="l-row block block--shipping">
            <div class="l-col">
              <p>SHIPPING<br>
              TAX (INCLUDED)</p>
            </div>
            <div class="l-col l-col-auto">
              € 7,20
            </div>
          </div>
          <div class="l-row block block--coupon">
            <div class="l-col">
              <form action="">
                <input type="text" placeholder="Coupon code">
                <button>Apply</button>
              </form>
            </div>
          </div>
          <div class="l-row block block--total">
            <div class="l-col l-flex justify--between u-transform--uppercase">
              <h5>Order total</h5>
              <h5>€ 177,20</h5>
            </div>
          </div>
          <div class="l-row block block--btns">
            <div class="l-col-6 l-col-nopadding">
              <a class="btn btn--block btn--outline" href="products.html" data-nav data-namespace="products"><span class="btn__wrapper"><span class="btn__text"data-btn="Continue shopping">Continue shopping</span></span></a>
            </div>
            <div class="l-col-6 l-col-nopadding">
              <a class="btn btn--primary btn--block btn--to-payment no-barba" href="payment.html" data-nav data-namespace="payment"><span class="btn__wrapper"><span class="btn__text"data-btn="Check out">Check out</span></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__bg"></div>
</div>