<footer>
  <div class="l-container">
    <div class="l-row">
      <div class="l-col-3">
        <ul>
          <li class="u-weight--strong u-transform--uppercase">SLAM</li>
          <li><a href="#!" class="a--fx">About us</a></li>
          <li><a href="#!" class="a--fx">Store locator</a></li>
          <li><a href="#!" class="a--fx">Contact</a></li>
        </ul>
      </div>
      <div class="l-col-3">
        <ul>
          <li class="u-weight--strong u-transform--uppercase">CUSTOMER</li>
          <li><a href="#!" class="a--fx">Size guide</a></li>
          <li><a href="#!" class="a--fx">Shipping</a></li>
          <li><a href="#!" class="a--fx">Return policy</a></li>
          <li><a href="#!" class="a--fx">Available payments</a></li>
          <li><a href="#!" class="a--fx">General terms</a></li>
        </ul>
      </div>
      <div class="l-col-3">
        <ul>
          <li class="u-weight--strong u-transform--uppercase">HELP AREA</li>
          <li><a href="#!" class="a--fx">Shop info</a></li>
          <li><a href="#!" class="a--fx">Terms and conditions</a></li>
          <li><a href="#!" class="a--fx">Privacy policy</a></li>
          <li><a href="#!" class="a--fx">Track orders</a></li>
          <li><a href="#!" class="a--fx">Sitemap</a></li>
        </ul>
      </div>
      <div class="l-col-3">
        <ul>
          <li class="u-weight--strong u-transform--uppercase">COUNTRY</li>
          <li>I live in Italy</li>
          <li>and I speak English</li>
        </ul>
        <img src="assets/images/ccs.jpg" class="ccs" alt="">
      </div>
    </div>
  </div>
  <div class="footer__line"></div>
  <div class="l-container">
    <div class="l-row justify--between">
      <div class="l-col l-col-auto logo">
          <svg id="4eb800a5-fee2-4816-9b4e-85df0ba76dc8" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 681.39 258.13"><title>Slam_logo</title><path fill="#FFFFFF" d="M0,171.16l43-9.35q4.85,30.84,16.46,44.69t38.29,13.86q22.17,0,34.65-8.83t12.47-24.08q0-15.24-11.6-23.9T80.73,142.4q-38.11-11.77-54.57-28.76T9.71,72.41q0-27.72,21.48-47.47T89.4,5.2Q123.69,5.2,148,22t29.79,49.72L138,81.42q-5-18-16-28.06t-32.57-10q-19.75,0-29.63,8a25.45,25.45,0,0,0-9.9,20.71q0,11.79,10.74,18.71t50.58,20.44q43,14.55,58.39,30.49T185,185q0,31.53-23.73,52.32T97.36,258.13q-41.92,0-66.87-22T0,171.16Z"/><path fill="#FFFFFF" d="M200.61,252.93V0h40.88V252.93Z"/><path fill="#FFFFFF" d="M374.54,252.93V234.57h-.69a40.4,40.4,0,0,1-4.16,5,79.51,79.51,0,0,1-8.83,7.62q-6.07,4.68-16.29,7.8a77.65,77.65,0,0,1-22.7,3.12q-32.22,0-48.5-15.42T257.08,204.4q0-23.56,14.2-36.2t48.16-21q30.49-7.62,39.84-12.65t9.35-14.72q0-9.36-8.49-15.59T335,98.06q-19.06,0-27.89,8.66t-13,23.56L260.5,117.46A69.29,69.29,0,0,1,285.15,79Q303.86,64.1,334,64.1q33.26,0,53.71,17t20.44,53V252.93Zm-47.12-77.61q-19.41,4.85-25.81,11.09a20.44,20.44,0,0,0-6.41,15.24q0,22.18,30.14,22.18,22.17,0,33.43-9T370,193V156.26h-.69a16.73,16.73,0,0,1-3.64,4.85q-2.26,2.08-11.78,5.89a240.37,240.37,0,0,1-26.47,8.32Z"/><path fill="#FFFFFF" d="M428.93,252.93V69.29h36V87h.69q6.58-10,18.89-16.46A56.48,56.48,0,0,1,511,64.1a55.71,55.71,0,0,1,28.06,7.1,50.79,50.79,0,0,1,19,18.19h.7q6.93-10.74,20.09-18A59.16,59.16,0,0,1,608,64.12q31.52,0,50.06,17.32t18.53,46.08V252.93H640.28V136.51q0-36-34-36-16.63,0-25.46,9.18T572,134.09V252.93H535.3V136.51q0-16.63-8.49-26.33t-25.12-9.7q-17,0-25.64,9.35t-8.66,24.25V252.93Z"/><path fill="#FFFFFF" d="M640.16,29V6.92h-7.89V2.11h21V6.92h-7.89V29Z"/><path fill="#FFFFFF" d="M654.94,29V2.11h5.35l7.82,17.48h.08L676,2.11h5.39V29h-5.08V12.5h-.08L668.57,29h-.85L660.06,12.5H660V29Z"/></svg>
      </div>
      <div class="l-col l-col-auto l-flex align--items--baseline">
          <div class="u-weight--strong u-transform--uppercase">Follow us</div>
          <div class="nav--socials">
            <a href="#!"><img src="assets/images/icons/facebook.svg" alt=""></a>
            <a href="#!"><img src="assets/images/icons/instagram.svg" alt=""></a>
            <a href="#!"><img src="assets/images/icons/youtube.svg" alt=""></a>
          </div>
      </div>
    </div>
  </div>
  <div class="footer__colophon">
    <div class="l-container">
      <div class="l-col-12">
        <p>© 2017 - Slam S.p.A socio unico CF/P.IVA n° 01119840104 - C.C.I.A.A. n° 254102- Cap. Soc. i.v. € 4.035.424,00, Soggetta a direzione e coordinamento: Finsea S.p.A.</p>
      </div>
    </div>
  </div>
</footer>