
<header id="header">
  <nav class="menu">  
    <ul>
      <li class="menu__hamburger">
        <a href="#!" data-hover="hamburger">
          <div class="menu__hover__bg"></div>
          <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 13" width="19" height="13"><path d="M18.48 0H.52A.61.61 0 0 0 0 .68a.61.61 0 0 0 .52.68h18A.61.61 0 0 0 19 .68a.61.61 0 0 0-.52-.68zM4.63 11.65H.52a.61.61 0 0 0-.52.68.61.61 0 0 0 .52.67h4.11a.61.61 0 0 0 .52-.68.61.61 0 0 0-.52-.67zm7.44-5.15a.61.61 0 0 1-.52.68H.52A.61.61 0 0 1 0 6.5a.61.61 0 0 1 .52-.68h11a.61.61 0 0 1 .55.68z" fill="#000000" /></svg></span>
        </a>
      </li><!--
    --><li class="menu__men" >
        <a href="#!" data-hover="men">
          <div class="menu__hover__bg"></div>
          <span>Men</span>
        </a>
      </li><!--
    --><li class="menu__women">
        <a href="#!" data-hover="women">
          <div class="menu__hover__bg"></div>
          <span>Women</span>
        </a>
      </li><!--
    --><li class="menu__collections">
        <a href="#!" data-hover="collections">
          <div class="menu__hover__bg"></div>
          <span>Collections</span>
        </a>
      </li>
    </ul>
    <div class="dropdowns">
      <div data-menu="hamburger">
        <div class="l-container">
          <div class="l-row">
            <div class="l-col l-flex border-r nav">
              <ul class="nav--primary">
                <li><a href="#!">About</a></li>
                <li><a href="stories.html" data-nav data-namespace="stories">Stories</a></li>
                <li><a href="#!">Collections</a></li>
                <li><a href="#!">Corporate</a></li>
              </ul>
            </div>
            <div class="l-col l-flex nav">
              <ul>
                <li><a href="#!">Size guide</a></li>
                <li><a href="#!">Shipping</a></li>
                <li><a href="#!">Return policy</a></li>
                <li><a href="#!">Available payments</a></li>
                <li><a href="#!">General terms</a></li>
              </ul>
            </div>
            <div class="l-col l-flex border-r nav">
              <ul>
                <li><a href="#!">Shop info</a></li>
                <li><a href="#!">Terms and conditions</a></li>
                <li><a href="#!">Privacy policy</a></li>
                <li><a href="#!">Track orders</a></li>
                <li><a href="#!">Sitemap</a></li>
              </ul>
            </div>
            <div class="l-col l-flex nav">
              <ul class="nav--tools">
                <li class="nav--select">
                  <div class="nav--select__title u-weight--strong u-transform--uppercase">Country</div>
                  <p>I live in <span class="u-weight--strong">Italy</span></p>
                  <p>and I speak <span class="u-weight--strong">English</span></p>
                </li>
                <li><a href="#!" class="u-weight--strong u-transform--uppercase">Store Locator</a></li>
                <li><a href="#!" class="u-weight--strong u-transform--uppercase">Contacts</a></li>
                <li>
                  <div class="u-weight--strong u-transform--uppercase">Follow us</div>
                  <div class="nav--socials">
                    <a href="#!"><img src="assets/images/icons/facebook.svg" alt=""></a>
                    <a href="#!"><img src="assets/images/icons/instagram.svg" alt=""></a>
                    <a href="#!"><img src="assets/images/icons/youtube.svg" alt=""></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo__bg">
          <img src="assets/images/Slam_symbol.svg" alt="">
        </div>
      </div>

      <div data-menu="men">
        <div class="l-container">
          <div class="l-row">
            <div class="l-col border-r nav">
              <ul>
                <li class="nav__featured"><a href="#!">Esplora</a></li>
                <li><a href="#!">Nuovi Arrivi</a></li>
                <li><a href="#!">I Trend Del Momento</a></li>
                <li><a href="#!">Offerte Speciali</a></li>
                <li><a href="#!">Abbigliamento Force</a></li>
              </ul>
            </div>
            <div class="l-col nav">
              <ul>
                <li class="nav__featured"><a href="#!">Abbigliamento</a></li>
                <li><a data-nav href="products.html" data-namespace="products">Giacche</a></li>
                <li><a href="#!">Gilet</a></li>
                <li><a href="#!">Maglioni</a></li>
                <li><a href="#!">Felpe</a></li>
                <li><a href="#!">T-Shirts</a></li>
                <li><a href="#!">Polo</a></li>
                <li><a href="#!">Camicie</a></li>
                <li><a href="#!">Pantaloni</a></li>
                <li><a href="#!">Pantaloncini</a></li>
              </ul>
            </div>
            <div class="l-col border-r nav">
              <ul>
                <li class="nav__featured"><a href="#!">Accessori</a></li>
                <li><a href="#!">Scarpe</a></li>
                <li><a href="#!">Cappelli E Berretti</a></li>
                <li><a href="#!">Borse E Zaini</a></li>
                <li><a href="#!">Calze</a></li>
              </ul>
            </div>
            <div class="l-col nav">
              <ul>
                <li class="nav__featured"><a href="#!">Collezioni</a></li>
                <li><a href="#!">Pro</a></li>
                <li><a href="#!">Crew</a></li>
                <li><a href="#!">Barcolana</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo__bg">
          <img src="assets/images/Slam_symbol.svg" alt="">
        </div>
      </div>

      <div data-menu="women">
        <div class="l-container">
          <div class="l-row">
            <div class="l-col border-r nav">
              <ul>
                <li class="nav__featured"><a href="#!">Esplora</a></li>
                <li><a href="#!">Nuovi Arrivi</a></li>
                <li><a href="#!">I Trend Del Momento</a></li>
                <li><a href="#!">Offerte Speciali</a></li>
              </ul>
            </div>
            <div class="l-col nav">
              <ul>
                <li class="nav__featured"><a href="#!">Abbigliamento</a></li>
                <li><a href="#!">Giacche</a></li>
                <li><a href="#!">Felpe e Maglioni</a></li>
                <li><a href="#!">Polo</a></li>
                <li><a href="#!">Camicie</a></li>
                <li><a href="#!">Pantaloni</a></li>
              </ul>
            </div>
            <div class="l-col border-r nav">
              <ul>
                <li class="nav__featured"><a href="#!">Accessori</a></li>
                <li><a href="#!">Scarpe</a></li>
                <li><a href="#!">Borse E Zaini</a></li>
                <li><a href="#!">Calze</a></li>
              </ul>
            </div>
            <div class="l-col nav">
              <ul>
                <li class="nav__featured"><a href="#!">Collezioni</a></li>
                <li><a href="#!">Pro</a></li>
                <li><a href="#!">Crew</a></li>
                <li><a href="#!">Barcolana</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo__bg">
          <img src="assets/images/Slam_symbol.svg" alt="">
        </div>
      </div>

      <div data-menu="collections">
       <div class="l-container">
         <div class="l-row">
           <div class="l-col nav">
             <ul>
               <li class="nav__featured"><a href="#!">Pro</a></li>
             </ul>
           </div>
           <div class="l-col nav">
             <ul>
               <li class="nav__featured"><a href="#!">Crew</a></li>
             </ul>
           </div>
           <div class="l-col nav">
             <ul>
               <li class="nav__featured"><a href="#!">Barcolana</a></li>
             </ul>
           </div>
         </div>
       </div>
       <div class="logo__bg">
          <img src="assets/images/Slam_symbol.svg" alt="">
       </div>
    </div>
  </nav>
  <nav class="go-back">
    <a href="products.html" data-namespace="products" data-nav><img src="assets/images/icons/small-arrow.svg" width="26" height="7"> Continue shopping</a>
  </nav>
  <div class="logo">
    <a href="index.html" data-namespace="home">
      <svg id="4eb800a5-fee2-4816-9b4e-85df0ba76dc8" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 681.39 258.13"><title>Slam_logo</title><path d="M0,171.16l43-9.35q4.85,30.84,16.46,44.69t38.29,13.86q22.17,0,34.65-8.83t12.47-24.08q0-15.24-11.6-23.9T80.73,142.4q-38.11-11.77-54.57-28.76T9.71,72.41q0-27.72,21.48-47.47T89.4,5.2Q123.69,5.2,148,22t29.79,49.72L138,81.42q-5-18-16-28.06t-32.57-10q-19.75,0-29.63,8a25.45,25.45,0,0,0-9.9,20.71q0,11.79,10.74,18.71t50.58,20.44q43,14.55,58.39,30.49T185,185q0,31.53-23.73,52.32T97.36,258.13q-41.92,0-66.87-22T0,171.16Z"/><path d="M200.61,252.93V0h40.88V252.93Z"/><path d="M374.54,252.93V234.57h-.69a40.4,40.4,0,0,1-4.16,5,79.51,79.51,0,0,1-8.83,7.62q-6.07,4.68-16.29,7.8a77.65,77.65,0,0,1-22.7,3.12q-32.22,0-48.5-15.42T257.08,204.4q0-23.56,14.2-36.2t48.16-21q30.49-7.62,39.84-12.65t9.35-14.72q0-9.36-8.49-15.59T335,98.06q-19.06,0-27.89,8.66t-13,23.56L260.5,117.46A69.29,69.29,0,0,1,285.15,79Q303.86,64.1,334,64.1q33.26,0,53.71,17t20.44,53V252.93Zm-47.12-77.61q-19.41,4.85-25.81,11.09a20.44,20.44,0,0,0-6.41,15.24q0,22.18,30.14,22.18,22.17,0,33.43-9T370,193V156.26h-.69a16.73,16.73,0,0,1-3.64,4.85q-2.26,2.08-11.78,5.89a240.37,240.37,0,0,1-26.47,8.32Z"/><path d="M428.93,252.93V69.29h36V87h.69q6.58-10,18.89-16.46A56.48,56.48,0,0,1,511,64.1a55.71,55.71,0,0,1,28.06,7.1,50.79,50.79,0,0,1,19,18.19h.7q6.93-10.74,20.09-18A59.16,59.16,0,0,1,608,64.12q31.52,0,50.06,17.32t18.53,46.08V252.93H640.28V136.51q0-36-34-36-16.63,0-25.46,9.18T572,134.09V252.93H535.3V136.51q0-16.63-8.49-26.33t-25.12-9.7q-17,0-25.64,9.35t-8.66,24.25V252.93Z"/><path d="M640.16,29V6.92h-7.89V2.11h21V6.92h-7.89V29Z"/><path d="M654.94,29V2.11h5.35l7.82,17.48h.08L676,2.11h5.39V29h-5.08V12.5h-.08L668.57,29h-.85L660.06,12.5H660V29Z"/></svg>
    </a>
  </div>
  <nav class="tools">
    <ul>
      <li>
        <a href="">
          Country <span class="triangle"></span>
        </a>
      </li>
      <li>
        <a href="login.html" data-nav data-namespace="login">
          Login
        </a>
      </li>
      <li class="cart">
        <a href="#!">
          <div>
            <span class="cart__badge">0</span>
            <img src="assets/images/icons/cart.svg" width="15" height="20">
          </div>
        </a>
      </li>
      <li class="search">
        <a href="">
            <img src="assets/images/icons/search.svg" width="17" height="17">
        </a>
      </li>
    </ul>
  </nav>
</header>