<div class="modal" data-modal="quick-view" data-status>
  <div class="modal__bg"></div>
  <div class="modal__wrapper">
    <div class="modal__close">
      <img src="assets/images/icons/close.svg" alt="">
    </div>
    <div class="l-container">
      <div class="l-row align--items--center">
        <div class="l-col-8">
          <div class="l-row align--items--center">
            <div class="l-col l-col-auto">
              <div class="thumbnail__list">
                <ul>
                  <li><img src="assets/images/S101301T00_1500_big.jpg" alt=""></li>
                  <li><img src="assets/images/S101301T00_1500_01_small.jpg" alt=""></li>
                  <li><img src="assets/images/S101301T00_1500_02_small.jpg" alt=""></li>
                  <li><img src="assets/images/S101301T00_1500_03_small.jpg" alt=""></li>
                  <li><img src="assets/images/S101301T00_1500_04_small.jpg" alt=""></li>
                </ul>
              </div>
            </div>
            <div class="l-col-9">
              <figure>
                <img src="assets/images/S101301T00_1500_big.png" alt="">
              </figure>
            </div>
          </div>
        </div>
        <div class="l-col-4">
          <div class="product__details">
            <div class="product__category">Jackets</div>
            <div class="product__title"><h2>Jacket Island (MRW)</h2></div>
            <div class="product__price">€ 170.00</div>
            <div>
              <div class="product__detail product__detail--color">
                <strong>Color</strong>
                <ul class="color">
                  <li class="color--active"><span class="color--2"></span></li>
                  <li><span class="color--3"></span></li>
                  <li><span class="color--5"></span></li>
                  <li><span class="color--4"></span></li>
                </ul>
              </div>
              <div class="product__detail product__detail--size">
                <strong>Size</strong>
                <ul class="size">
                  <li><span>XS</span></li>
                  <li><span>S</span></li>
                  <li><span>M</span></li>
                  <li><span>L</span></li>
                  <li data-oos><span>XL</span></li>
                  <li data-oos><span>XXL</span></li>
                  <li data-oos><span>3XL</span></li>
                  <li><span>4XL</span></li>
                </ul>
              </div>
            </div>
            <div class="product__size-chart">
              <a href="#!">Size chart</a>
            </div>

            <a href="#!" class="btn btn--block btn--primary btn--disabled">
              <span class="btn__wrapper">
                <span class="btn__text" data-btn="Add to cart">Add to cart</span>
              </span>
            </a>

            <p class="product__free-shipping">Free shipping from €100</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>