//colors by name
$color-light-blue: #0076d6;
$color-light-gray: #ccc;
$color-gray: #252525;
$color-red: #DA291C;
$color-gray-mid: #BDBBBB;
$color-gray-dark: #1A1A1A;
$color-gray-demi: #7F7F7F;
$color-gray-light: #D8D8D8;
$color-dark: #000000;
$color-light: #fff;
$color-light-yellow: #ffffd6;
$color-light-green: #D8D8D8;

//colors by function
$color-text: $color-dark;
$color-bg: $color-light;
$color-link: $color-dark;
$color-link-hover: lighten($color-light-blue, 20%);
$color-border: $color-light-gray;
$color-text-selection: $color-light-blue;
$color-highlight: $color-light-yellow;

$color-notice: $color-light-yellow;
$color-error: $color-red;
$color-success: $color-light-green;
