/* ==========================================================================

   Utilities
   ====

   Application wide utilities

   ========================================================================== */

/* ==========================================================================
   ### Text utilities

   ```
   <p class="u-text--left">Left aligned text</p>
   <p class="u-text--right">Right aligned text</p>
   <p class="u-text--center">Centered text</p>
   <p class="u-text--hide">Hidden text</p>
   <p class="u-text--ellipsis">This text is one line with ellipsis</p>

   ```
   ========================================================================== */

.u-text--left {
    text-align: left;
}

.u-text--right {
    text-align: right;
}

.u-text--center {
    text-align: center;
}

//@see bootstrap
.u-text--hide {
    border: 0;
    background-color: transparent;
    color: transparent;
    font: 0 / 0 a;
    font-size: 0.1px;
    text-shadow: none;
}

.u-text--ellipsis {
    @include text-ellipsis;
}



/* ==========================================================================
   ##Box model helpers

   ```

   <div class="u-clearfix">Clearfixed box</div>
   <div class="u-centered">Centered</div>
   <div class="u-float--left">Floated left</div>
   <div class="u-float--right">Floated right</div>
   <div class="u-clear">Clearing box</div>

   <div class="u-inline">
    <div>inlined</div>
    <div>items</div>
   </div>

   <div class="u-stacked">
    <span>stacked</span>
    <span>items</span>
   </div>
   ```
   ========================================================================== */

.u-clearfix,
.clearfix {
    @include clearfix;
}

.u-clear {
    clear: both;
}

.u-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.u-float,
.u-float--left {
    float: left;
}

.u-float--right {
    float: right;
}

//inline children
.u-inline > * {
    display: inline-block;
}

// vertically stacked
.u-stacked > * {
    display: block;
}

// inline
.u-inline--baseline > * {
    display: inline-block;
    vertical-align: baseline;
}

/* ==========================================================================
   ##Typographic Helpers

   ```
   <p class="u-type--xs">font size extra small</p>
   <p class="u-type--s">font size small</p>
   <p class="u-type--m">font size medium (default)</p>
   <p class="u-type--l">font size large</p>
   <p class="u-type--xl">font size extra large</p>
   <p class="u-type--xxl">font size oversized</p>

   <p class="u-type--larger">relative size</p>
   <p class="u-weight--strong">strong font weight</p>
   <p class="u-weight--medium">medium font weight</p>
   <p class="u-weight--light">light font weight</p>
   ```
   ========================================================================== */

@each $font-size-key, $font-size-value in $font-sizes {

    .u-type--#{$font-size-key} {
        font-size: rem($font-size-value) !important; // scss-lint:disable ImportantRule
    }
}

.u-type--default {
    font-size: rem($font-size-default) !important; // scss-lint:disable ImportantRule
}

.u-type--larger {
    font-size: 130%;
}

.u-type--smaller {
    font-size: 85%;
}

@each $font-weight-key, $font-weight-value in $font-weights {

    .u-weight--#{$font-weight-key} {
        font-weight: $font-weight-value !important; // scss-lint:disable ImportantRule
    }
}

.u-weight--strong {
    @extend .u-weight--bold; // scss-lint:disable PlaceholderInExtend
}

.u-weight--medium {
    @extend .u-weight--regular; // scss-lint:disable PlaceholderInExtend
}


/* ==========================================================================

   ### Visibility Helpers

   ```
   <p class="u-hidden">this is hidden from mobile screens</p>
   <p class="u-visuallyhidden">this is hidden from small tablet screens</p>
   <p class="u-invisible">this is hidden from large tablets screens</p>
   ```
   ========================================================================== */

.u-overflow-h {
    overflow: hidden;
}


.u-hidden,
.js .is-jshidden {
    display: none !important; // scss-lint:disable ImportantRule
    visibility: hidden;
}

.u-visuallyhidden {
    @include visually-hidden;

    .focusable {

        &:active,
        &:focus {
            position: static;
            overflow: visible;
            clip: auto;
            width: auto;
            height: auto;
            margin: 0;
        }
    }
}

.u-invisible {
    visibility: hidden;
}

@each $mq-key, $mq-value in $mq-breakpoints {
    @include mq($mq-key) {

        .u-hidden--from-#{$mq-key} {
            display: none !important;
            visibility: hidden;
        }
    }

    @include mq($until: $mq-key) {

        .u-hidden--until-#{$mq-key} {
            display: none !important;
            visibility: hidden;
        }
    }
}

.u-transform--uppercase {
    text-transform: uppercase;
}

.l-flex-column {
    flex-direction: column;
}

.l-flex-1 {
    flex: 1 0 0;
}

.align--items--center {
    align-items: center;
}

.align--items--baseline {
    align-items: baseline;
}

.align--self--center {
    align-self: center;
}

.align--self--end {
    align-self: flex-end;
}

.justify--center {
    justify-content: center;
}

.justify--between {
    justify-content: space-between;
}

.w-100 {
    width: 100%!important;
}

.l-row-nopadding {
    padding: 0 !important;
}

.l-col-nopadding {
    &:first-child {
        padding-right: 7.5px;
    }
    &:last-child {
        padding-left: 7.5px;
    }
}

.col-ml {
    margin-left: 30px;
}

.col-mr {
    margin-right: 30px;
}

.row-mb {
    margin-bottom: 30px;
}

.col-ptb {
    padding-top: 20px;
    padding-bottom: 20px;
}

.z-1 {
    z-index: 1;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}