{% extends 'templates/_default.nunj.html' %}


{% block main %}
<div class="barba-container" data-namespace="discover">
  <main>
    <section class="hero l-flex">
      <figure data-animate><img src="assets/images/superyacht.jpg" alt=""></figure>
      <div class="l-container-fluid l-flex l-flex-1">
        <div class="l-row align--items--center l-flex-1">
          <div class="offset-1 l-col-3">
            <h1 class="hero__title">Superyacht</h1>
            <div class="hero__line"></div>
            <p class="hero__description">
                Optur adis mil mosantum fugia soluptatet, sam essum, sedigni hiciduc ipsuntesto il estiusanis eosto qui ut ut mil incitia.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="article">
      <article>
        <div class="l-container">
          <div class="l-row">
            <div class="l-col-8">
              <div class="l-row">
                <div class="l-col-12">
                  <h1>Superyacht Clothing Specialist</h1>
                </div>
                <div class="l-col-6">
                  <p>The Slam CREW collection was designed for the crew that wants to personalise their uniforms to make it unique and perfectly recognisable.</p>
                  <p>This continuative collection, already in stock, allows the Skipper to order again the same articles in the same colours, making it possible to maintain the selected uniform over time.</p>

                  <p>The personalisation of the garments, through different embroidery and printing techniques, can be done very quickly, guaranteeing rapid delivery times anywhere in the world.</p>
                </div>
                <div class="l-col-6">
                  <p>The department dedicated to CREW &CORPORATE guarantees a high degree of service, strictly following the Skipper and his crew through all the phases of the order.</p>
                  <p>Our Key Account Managers are, in fact, available to present the samples, meeting with the crew directly on board.</p>

                  <p>On the basis of the Skipper’s choices, the graphic preview of the garments with the customizations requested, including the embroidery and printing of the logos, will be created and sent for approval.</p>
                    
                </div>
              </div>
            </div>
            <div class="l-col-4">
              <figure data-animate>
                <img src="assets/images/GD7_1116.jpg">
              </figure>
            </div>
          </div>
        </div>
      </article>
    </section>
    <section class="gallery" data-slider="gallery">
      <div class="l-container">
        <div class="l-row">
          <div class="l-col">
            <h2>Gallery</h2>
          </div>
          <div class="l-col align--self--center">
            <div class="slider__navigator">
              <div>
                <div class="slider__navigator--lines">
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="l-col l-col-auto align--self--center">
            <div>
              <div class="slider__navigator--arrows">
                <div>
                  <div class="slider__navigator__arrow slider__navigator__arrow--left">
                    <span></span>
                    <div class="slider__navigator__arrow__bg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="l-col l-col-slider">
            <div class="slider">
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-1.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-2.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-3.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-4.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-5.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-6.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-7.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-8.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-9.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-10.jpg" alt="">
              </figure>
            </div>
          </div>
          <div class="l-col l-col-auto align--self--center">
            <div>
              <div class="slider__navigator--arrows">
                <div>
                  <div class="slider__navigator__arrow slider__navigator__arrow--right">
                    <span></span>
                    <div class="slider__navigator__arrow__bg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
  </main>
</div>
{% endblock %}