{% extends 'templates/_default.nunj.html' %}


{% block main %}
<div class="barba-container" data-namespace="home">
<main>
  <section class="hero" data-slider="hero">
    <div class="slider">
      <div class="hero__item" data-slide="active">
        <div class="hero__bg" style="background-image: url('assets/images/cover.jpg')">
          <div class="hero__info">
            <a href="#!" class="hero__info__dots">
              <span>€ 299.00</span>
              <div class="hero__info__dots__bg"></div>
              <div class="hero__info__dots__circle"></div>
            </a>
          </div>
        </div>
        <div class="l-container">
          <div class="hero__title">
            <h2>Sail like<br>a Pro!</h2>
            <div class="hero__title__line"></div>
          </div>
        </div>
      </div>
      <div class="hero__item" data-slide>
        <div class="hero__bg" style="background-image: url('assets/images/cover2.jpg')">
        </div>
        <div class="l-container">
          <div class="hero__title">
            <h2>Lorem like<br>a Pro!</h2>
            <div class="hero__title__line"></div>
          </div>
        </div>
      </div>
      <div class="hero__item" data-slide>
        <div class="hero__bg" style="background-image: url('assets/images/cover3.jpg')">
        </div>
        <div class="l-container">
          <div class="hero__title">
            <h2>Ipsum like<br>a Pro!</h2>
            <div class="hero__title__line"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__navigator">
      <div>
        <div class="slider__navigator--lines">
          <div class="slider__navigator__line"></div>
          <div class="slider__navigator__line"></div>
          <div class="slider__navigator__line"></div>
        </div>
      </div>
      <div>
        <div class="slider__navigator--arrows">
          <div>
            <div class="slider__navigator__arrow slider__navigator__arrow--left">
              <span></span>
              <div class="slider__navigator__arrow__bg"></div>
            </div>
            <div class="slider__navigator__arrow slider__navigator__arrow--right">
              <span></span>
              <div class="slider__navigator__arrow__bg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="latest-stories bg-half">
    <div class="l-container">
      <header>
        <h3 data-subtitle>Latest Stories</h3>
      </header>
      <div class="l-row" data-stagger>
        <div class="l-col-4">
          <a data-nav data-namespace="story" href="story.html" class="l-story">
            <figure>
              <div class="l-story__bg">
                <img src="assets/images/fantini.jpg">
              </div>
              <figcaption>
                <div class="l-story__category">Andrea Fantini</div>
                <h4 class="l-story__title" data-subtitle>I have a dream: la Vendée Globe</h4>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="l-col-4">
          <a href="#!" class="l-story">
            <figure>
              <div class="l-story__bg">
                <img src="assets/images/GD7_1353.jpg" alt="">
              </div>
              <figcaption>
                <div class="l-story__category">Pro</div>
                <h4 class="l-story__title" data-subtitle>Lorem ipsum dolor sit amet</h4>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="l-col-4">
          <a href="#!" class="l-story">
            <figure>
              <div class="l-story__bg">
                <img src="assets/images/GDQ_8363.jpg" alt="">
              </div>
              <figcaption>
                <div class="l-story__category">Casual</div>
                <h4 class="l-story__title" data-subtitle>Curabitur condimentum auctor ex</h4>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="shop-by-look bg-half">
    <div class="l-container">
      <header>
        <h3 data-subtitle>Shop by Look</h3>
      </header>
      <div class="l-row">
        <div class="l-col-4 l-flex">
          <figure class="sb-look__categories l-flex">
            <div class="sb-look__categories__bg l-flex" data-tabs="categories" data-fx="tab-fx">
              <div data-tab data-categories="men">
                <img src="assets/images/GD7_1552.jpg">
              </div>
              <div data-tab data-categories="women">
                <img src="assets/images/DSC_5748.jpg">
              </div>
            </div>
            <figcaption>
              <a href="#!" class="sb-look__category tab__btn tab__btn--active" data-categories="men">Men</a>
              <a href="#!" class="sb-look__category tab__btn" data-categories="women">Women</a>
            </figcaption>
          </figure>
        </div>
        <div class="l-col-8 l-flex">
          <div class="sb-look__items__wrapper l-flex" data-tabs="categories" data-fx="tab-fade">
            <div class="sb-look__items l-flex" data-categories="men" data-tab>
              <div class="l-container-fluid l-flex">
                <div class="l-row l-flex" data-stagger>
                  <div class="l-col-6 l-flex">
                    <figure class="sb-look__item">
                      <img src="assets/images/S101348T00_3910_medium.png" alt="">
                      <figcaption>
                        <div class="sb-look__item__types">
                          <div class="color color--1"></div>
                          <div class="color color--2"></div>
                          <div class="color color--3"></div>
                          <div class="color color--4"></div>
                          <div class="color color--5"></div>
                          <div class="color color--6"></div>
                        </div>
                        <div class="sb-look__item__sizes">
                          <div class="size">S</div>
                          <div class="size">M</div>
                          <div class="size">L</div>
                          <div class="size">XL</div>
                          <div class="size">XXL</div>
                        </div>
                        <div class="sb-look__item__title">
                          Jacket Island (MRW)
                        </div>
                        <div class="sb-look__item__price">
                          <span>€ 167.00</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="l-col-6 l-flex">
                    <figure class="sb-look__item">
                      <img src="assets/images/S124013T00_0360_medium.png" alt="">
                      <figcaption>
                        <div class="sb-look__item__types">
                          <div class="color color--1"></div>
                          <div class="color color--2"></div>
                          <div class="color color--3"></div>
                          <div class="color color--4"></div>
                          <div class="color color--5"></div>
                          <div class="color color--6"></div>
                        </div>
                        <div class="sb-look__item__sizes">
                          <div class="size">S</div>
                          <div class="size">M</div>
                          <div class="size">L</div>
                          <div class="size">XL</div>
                          <div class="size">XXL</div>
                        </div>
                        <div class="sb-look__item__title">
                          Jacket Island (MRW)
                        </div>
                        <div class="sb-look__item__price">
                          <span>€ 167.00</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
            </div> 
            <div class="sb-look__items l-flex" data-categories="women" data-tab>
              <div class="l-container-fluid l-flex">
                <div class="l-row l-flex">
                  <div class="l-col-6 l-flex">
                    <figure class="sb-look__item">
                      <img src="assets/images/S101348T00_3910_medium.png" alt="">
                      <figcaption>
                        <div class="sb-look__item__types">
                          <div class="color color--1"></div>
                          <div class="color color--2"></div>
                          <div class="color color--4"></div>
                          <div class="color color--5"></div>
                        </div>
                        <div class="sb-look__item__sizes">
                          <div class="size">S</div>
                          <div class="size">M</div>
                          <div class="size">L</div>
                        </div>
                        <div class="sb-look__item__title">
                          Lorem ipsum (MRW)
                        </div>
                        <div class="sb-look__item__price">
                          <span>€ 167.00</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="l-col-6 l-flex">
                    <figure class="sb-look__item">
                      <img src="assets/images/S124013T00_0360_medium.png" alt="">
                      <figcaption>
                        <div class="sb-look__item__types">
                          <div class="color color--2"></div>
                          <div class="color color--3"></div>
                          <div class="color color--4"></div>
                          <div class="color color--5"></div>
                          <div class="color color--6"></div>
                        </div>
                        <div class="sb-look__item__sizes">
                          <div class="size">S</div>
                          <div class="size">M</div>
                          <div class="size">L</div>
                          <div class="size">XL</div>
                        </div>
                        <div class="sb-look__item__title">
                          Lorem ipsum (MRW)
                        </div>
                        <div class="sb-look__item__price">
                          <span>€ 137.00</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="collections bg-half">
    <div class="l-container">
      <header>
        <h5 data-subtitle>Shop by Look</h5>
        <h2 data-subtitle>Collections</h2>
      </header>
      <div class="l-row">
        <div class="l-col-7">
          <div data-tabs="collection" data-fx="tab-zoom">
            <figure data-collection="first" data-tab data-animate> 
              <img src="assets/images/GDQ_8454.jpg" alt="">
            </figure>
            <figure data-collection="second" data-tab>
              <img src="assets/images/GD4_8472f.jpg" alt="">
            </figure>
            <figure data-collection="third" data-tab>
              <img src="assets/images/GD4_8507ff.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="l-col-4 offset-1 align--self--center">
            <h4 data-subtitle>Fall Winter 17/18</h4>
            <a href="#!" class="tab__btn__hover tab__btn--active" data-collection="first">
              <span data-hover="Pro Collections">Pro Collections</span>
              <svg width="70" height="15" viewBox="0 0 70 15" xmlns="http://www.w3.org/2000/svg"><path d="M.999 8.186h58v5.186a.999.999 0 0 0 1.581.813l8.659-6.186a.997.997 0 0 0 .001-1.626L60.581.187a.995.995 0 0 0-1.039-.076A1 1 0 0 0 59 1v5.186H1a1 1 0 0 0-.001 2z" fill="#ffffff" /></svg>
            </a>
            <a href="#!" class="tab__btn__hover" data-collection="second">
              <span data-hover="Crew Collections">Crew Collections</span>
              <svg width="70" height="15" viewBox="0 0 70 15" xmlns="http://www.w3.org/2000/svg"><path d="M.999 8.186h58v5.186a.999.999 0 0 0 1.581.813l8.659-6.186a.997.997 0 0 0 .001-1.626L60.581.187a.995.995 0 0 0-1.039-.076A1 1 0 0 0 59 1v5.186H1a1 1 0 0 0-.001 2z" fill="#ffffff" /></svg>
            </a>
            <a href="#!" class="tab__btn__hover" data-collection="third">
              <span data-hover="Barcolana Collections">Barcolana Collections</span>
              <svg width="70" height="15" viewBox="0 0 70 15" xmlns="http://www.w3.org/2000/svg"><path d="M.999 8.186h58v5.186a.999.999 0 0 0 1.581.813l8.659-6.186a.997.997 0 0 0 .001-1.626L60.581.187a.995.995 0 0 0-1.039-.076A1 1 0 0 0 59 1v5.186H1a1 1 0 0 0-.001 2z" fill="#ffffff" /></svg>
            </a>
        </div>
      </div>
    </div>
  </section>

  <section class="discover bg-half">
    <div class="l-container">
      <div class="l-row" data-stagger>
        <div class="l-col-5">
          <header>
            <h5 data-subtitle>Discover</h5>
            <h2 data-subtitle>Superyacht</h2>
          </header>
          <a href="discover.html" data-nav data-namespace="discover" class="l-story">
            <figure>
              <div class="l-story__bg">
                <img src="assets/images/GD4_8507fff.jpg" alt="">
              </div>
              <figcaption>
                <svg width="70" height="15" viewBox="0 0 70 15" xmlns="http://www.w3.org/2000/svg"><path d="M.999 8.186h58v5.186a.999.999 0 0 0 1.581.813l8.659-6.186a.997.997 0 0 0 .001-1.626L60.581.187a.995.995 0 0 0-1.039-.076A1 1 0 0 0 59 1v5.186H1a1 1 0 0 0-.001 2z" fill="#DA291C" /></svg>
                <h4 class="l-story__title" data-subtitle>Superyacht Clothing Specialist</h4>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="l-col-5 offset-2">
          <header>
            <h5 data-subtitle>Discover</h5>
            <h2 data-subtitle>Corporate</h2>
          </header>
          <a href="#!" class="l-story">
            <figure>
              <div class="l-story__bg">
                <img src="assets/images/GD4_8507ffff.jpg" alt="">
              </div>
              <figcaption>
                <svg width="70" height="15" viewBox="0 0 70 15" xmlns="http://www.w3.org/2000/svg"><path d="M.999 8.186h58v5.186a.999.999 0 0 0 1.581.813l8.659-6.186a.997.997 0 0 0 .001-1.626L60.581.187a.995.995 0 0 0-1.039-.076A1 1 0 0 0 59 1v5.186H1a1 1 0 0 0-.001 2z" fill="#DA291C" /></svg>
                <h4 class="l-story__title" data-subtitle>Ad Hoc Collections for companies</h4>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="instagram">
    <div class="l-container">
      <div class="l-row">
        <div class="l-col-12 u-text--center">
          <header>
            <h5 data-subtitle>Follow us</h5>
            <h3 data-subtitle>Instagram feed</h3>
          </header>
        </div>
      </div>
      <div class="l-row feed" data-stagger>
        <div class="l-col-3">
          <a href="#!">
            <figure>
              <div class="instagram__picture" style="background-image: url('assets/images/DSC_5511.jpg')"><img src="assets/images/DSC_5511.jpg" alt="" class="pic"></div>
              <figcaption>
                <div class="like"><img src="assets/images/icons/like.svg" alt=""> 220</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis semper libero, eu dapibus massa. </p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="l-col-3">
          <a href="#!">
            <figure>
              <div class="instagram__picture" style="background-image: url('assets/images/Slam_post_venti-2.jpg')"><img src="assets/images/Slam_post_venti-2.jpg" alt="" class="pic"></div>
              <figcaption>
                <div class="like"><img src="assets/images/icons/like.svg" alt=""> 220</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis semper libero, eu dapibus massa. </p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="l-col-3">
          <a href="#!">
            <figure>
              <div class="instagram__picture" style="background-image: url('assets/images/Slam_post_paroledelmare-5.jpg')"><img src="assets/images/Slam_post_paroledelmare-5.jpg" alt="" class="pic"></div>
              <figcaption>
                <div class="like"><img src="assets/images/icons/like.svg" alt=""> 220</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis semper libero, eu dapibus massa. </p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="l-col-3">
          <a href="#!">
            <figure>
              <div class="instagram__picture" style="background-image: url('assets/images/Slam_post_prodotti-6.jpg')"><img src="assets/images/Slam_post_prodotti-6.jpg" alt="" class="pic"></div>
              <figcaption>
                <div class="like"><img src="assets/images/icons/like.svg" alt=""> 220</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis semper libero, eu dapibus massa. </p>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="newsletter bg--gray--light">
    <form action="">
      <div class="l-container">
        <div class="l-row">
          <div class="l-col-12 u-text--center">
            <header>
              <h2 data-subtitle>Get news and offers</h2>
              <p data-subtitle>Receive 10% off your next order when you sign up for our newsletter</p>
            </header>
          </div>
        </div>
        <div class="l-row">
          <div class="l-col-12">
              <div class="form">
                <input type="text" placeholder="Enter your email">
                <button class="btn btn--red">
                  <div class="btn__wrapper">
                    <div class="btn__text" data-btn="Subscribe">Subscribe</div>
                  </div>
                </button>
              </div>
          </div>
        </div>
        <div class="l-row checkboxes">
          <div class="l-col">
            <label for="men"><input type="checkbox" name="men" id="men">
            <span></span> Men</label>
          </div>
          <div class="l-col">
            <label for="women"><input type="checkbox" name="women" id="women">
            <span></span> Women</label>
          </div>
          <div class="l-col">
            <label for="kids"><input type="checkbox" name="kids" id="kids">
            <span></span> Kids</label>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section class="magazine l-flex">
    <figure data-animate>
      <img src="assets/images/A5-Magazine-MockUp_interne1_web.jpg" alt="">
    </figure>
    <div class="l-container l-flex">
      <div class="l-row l-flex-1">
        <div class="l-col-5">
          <header>
            <h5 data-subtitle>MAGAZINE “I AM”</h5>
            <h2 data-subtitle>September 2017</h2>
            <div class="magazine__line"></div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis semper libero, eu dapibus massa. 
            </p>
            <a href="#!">Download now <svg width="70" height="15" viewBox="0 0 70 15" xmlns="http://www.w3.org/2000/svg"><path d="M.999 8.186h58v5.186a.999.999 0 0 0 1.581.813l8.659-6.186a.997.997 0 0 0 .001-1.626L60.581.187a.995.995 0 0 0-1.039-.076A1 1 0 0 0 59 1v5.186H1a1 1 0 0 0-.001 2z" fill="#ffffff" /></svg></a>
          </header>
        </div>
      </div>
    </div>
  </section>

</main>
</div>
{% endblock %}