{% extends 'templates/_default.nunj.html' %}


{% block main %}
<div class="barba-container" data-namespace="login">
<main>
  <div class="l-container-fluid l-flex">
    <div class="l-row l-flex-1">
      <div class="l-col-6 l-flex align--items--center justify--center">
        <div class="block">
          <h2>Login</h2>
          <form action="" class="l-flex">
            <input type="text" placeholder="Email address">
            <input type="text" placeholder="Password">
          </form>
          <div class="forgot-password">
            <a href="#!">Ops! I forgot my password</a>
          </div>
          <div class="block__btns">
            <a href="#!" class="btn btn--primary btn--block">
              <span class="btn__wrapper"><span class="btn__text" data-btn="Login">Login</span></span>
            </a>
            <a href="#!" class="btn btn--fb btn--block">
              <span class="btn__wrapper"><span class="btn__text" data-btn="Login with Facebook">Login with Facebook</span></span>
            </a>
          </div>
        </div>
      </div>
      <div class="l-col-6 bg--gray-light l-flex align--items--center justify--center">
        <div class="block">
          <h2>New Customer?</h2>
          <p>Create your Slam account!<br>
          You can track your orders,
          edit billing/shipping infos,
          receive exclusive offers and more!</p>
          <div class="block__btns">
            <a href="register.html" data-nav data-namespace="register" class="btn btn--primary btn--block">
              <span class="btn__wrapper"><span class="btn__text" data-btn="Create my account">Create my account</span></span>
            </a>
            <a href="#!" class="btn btn--fb btn--block">
              <span class="btn__wrapper"><span class="btn__text" data-btn="Sign in with Facebook">Sign in with Facebook</span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
{% endblock %}