{% extends 'templates/_default.nunj.html' %}


{% block main %}
<div class="barba-container" data-namespace="payment">
  <main>
    <div class="step__wrapper step__wrapper--first">
      <div class="step__item step__item--notification bg--gray-light">
        <div class="form">
          <div class="l-container-fluid">
            <div class="l-row">
              <div class="l-col-12">
                <p>
                  <a href="#!" class="a--fx">Sign in</a> or <a href="#!" class="a--fx">register</a> for a faster checkout or you can continue
                  as a guest. You will be able to create an account below.
                </p>
              </div>  
            </div>
            <div class="l-row btns">
              <div class="l-col">
                <a href="#login" class="btn btn--primary btn--first btn--block">
                  <span class="btn__wrapper">
                    <span class="btn__text" data-btn="Sign in">Sign in</span>
                  </span>
                </a>
              </div>
              <div class="l-col">
                <a href="#!" class="btn btn--primary btn--second btn--block">
                  <span class="btn__wrapper">
                    <span class="btn__text" data-btn="New customer?">New customer?</span>
                  </span>
                </a>
              </div>
              <div class="l-col">
                <a href="#next" class="btn btn--primary btn--block">
                  <span class="btn__wrapper">
                    <span class="btn__text" data-btn="Guest Checkout">Guest Checkout</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="completed">
          <div class="modal__close">
            <img src="assets/images/icons/close.svg" alt="">
          </div>         
          <div class="block">
            <h2>Login</h2>
            <form action="" class="l-flex">
              <input type="text" placeholder="Email address">
              <input type="text" placeholder="Password">
            </form>
            <div class="forgot-password">
              <a href="#!">Ops! I forgot my password</a>
            </div>
            <div class="block__btns">
              <a href="#!" class="btn btn--primary btn--block">
                <span class="btn__wrapper"><span class="btn__text" data-btn="Login">Login</span></span>
              </a>
              <a href="#!" class="btn btn--fb btn--block">
                <span class="btn__wrapper"><span class="btn__text" data-btn="Login with Facebook">Login with Facebook</span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="step__item step__item--not-active">
        <div class="form">
          <div class="l-container-fluid">
            <div class="l-row justify--between">
              <div class="l-col l-col-auto">
                <h2>1. Billing details</h2>
              </div>
              <div class="l-col l-col-auto align--self--end">
                <h4>Step 1/3</h4>
              </div>
            </div>
            <div class="l-row not-active">
              <div class="l-col">
                <form action="">
                  <div class="l-row">
                    <div class="l-col l-col-auto">
                      <label for="male">
                        <input type="radio" name="gender" value="male" id="male">
                        <span></span> Male
                      </label>
                    </div>
                    <div class="l-col l-col-auto">
                      <label for="female">
                        <input type="radio" name="gender" value="female" id="female">
                        <span></span> Female
                      </label>
                    </div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-6 l-col-nopadding"><input type="text" placeholder="Name"></div>
                    <div class="l-col-6 l-col-nopadding"><input type="text" placeholder="Lastname"></div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-6 l-col-nopadding"><input type="text" placeholder="Email"></div>
                    <div class="l-col-6 l-col-nopadding"><input type="text" placeholder="Phone Number"></div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-9 l-col-nopadding"><input type="text" placeholder="Street Name"></div>
                    <div class="l-col-3 l-col-nopadding"><input type="text" placeholder="Number"></div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-6 l-col-nopadding"><input type="text" placeholder="City"></div>
                    <div class="l-col-6 l-col-nopadding"><input type="text" placeholder="Zip Code"></div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-6 l-col-nopadding"><input type="text" placeholder="Select your City"></div>
                    <div class="l-col-6 l-col-nopadding"><input type="text" placeholder="Select your Country"></div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-12">
                      <label for="shipping-different" class="label--sm">
                        <input type="checkbox" name="shipping-different" value="1" id="shipping-different">
                        <span></span> Ship to a different address
                      </label>
                    </div>
                    <div class="l-col-12">
                      <label for="create-account" class="label--sm">
                        <input type="checkbox" name="create-account" value="1" id="create-account">
                        <span></span> Create an Account
                      </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="l-row shipping-method not-active">
              <div class="l-col l-col-auto">
                <h4>Shipping method</h4>
              </div>
              <div class="l-col-12">
                <div class="l-row">
                  <div class="l-col bg--gray-light col-ml col-ptb">
                    <label for="tnt" class="label--sm">
                      <input type="radio" name="shipping-method" value="tnt" id="tnt">
                      <span></span> TNTWS EXPRESS
                    </label>
                  </div>
                  <div class="l-col shipping-date bg--gray-light col-ptb">
                    December 18th, 2017
                  </div>
                  <div class="l-col shipping-price bg--gray-light col-mr col-ptb">
                    € 7,20
                  </div>
                </div>
              </div>
            </div>
            <div class="l-row not-active">
              <div class="l-col u-text--right">
                <a href="#next" class="btn btn--primary btn--lg">
                  <span class="btn__wrapper">
                    <span class="btn__text" data-btn="Continue to payment">Continue to payment</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="completed">
          <div class="l-container-fluid">
            <div class="l-row justify--between row-mb">
              <div class="l-col l-col-auto">
                <h2>1. Billing details</h2>
              </div>
              <div class="l-col l-col-auto align--self--end">
                <h4>Step 1/3</h4>
              </div>
            </div>
            <div class="l-col-auto">
              <div class="l-row">
                <div class="l-col">
                  <p>
                  <strong>SHIPPING ADDRESS</strong><br>
                  NOME COGNOME<br>
                  VIA XXX, N. XX<br>
                  01234 City<br>
                  State
                  </p>
                </div>
                <div class="l-col">
                  <p>
                  <strong>SHIPPING METHOD</strong><br>
                  TNTWS EXPRESS
                  </p>
                </div>
                <div class="l-col l-col-auto align--self--end z-1">
                  <a href="#edit" class="btn btn--primary btn">
                    <span class="btn__wrapper">
                      <span class="btn__text" data-btn="Edit">Edit</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step__item step__item--not-active">
        <div class="form">
          <div class="l-container-fluid">
            <div class="l-row justify--between">
              <div class="l-col l-col-auto">
                <h2>2. Payment</h2>
              </div>
              <div class="l-col l-col-auto align--self--end">
                <h4>Step 2/3</h4>
              </div>
            </div>
            <div class="l-row not-active">
              <div class="l-col">
                <form action="" class="form--payment">
                  <div class="l-row">
                    <div class="l-col-12">
                      <label for="bank">
                        <input type="radio" name="payment" value="bank" id="bank">
                        <span></span> <img src="assets/images/p-1.png" alt="">
                      </label>
                    </div>
                    <div class="l-col-12">
                      <label for="paypal">
                        <input type="radio" name="payment" value="paypal" id="paypal">
                        <span></span> <img src="assets/images/p-2.png" alt="">
                      </label>
                    </div>
                    <div class="l-col-12">
                      <label for="skrill">
                        <input type="radio" name="payment" value="skrill" id="skrill">
                        <span></span> <img src="assets/images/p-3.png" alt="">
                      </label>
                    </div>
                    <div class="l-col-12">
                      <label for="cc">
                        <input type="radio" name="payment" value="cc" id="cc">
                        <span></span> <img src="assets/images/p-4.png" alt="">
                      </label>
                    </div>
                    <div class="l-col-12">
                      <label for="satispay">
                        <input type="radio" name="payment" value="satispay" id="satispay">
                        <span></span> <img src="assets/images/p-5.png" alt="">
                      </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="l-row not-active">
              <div class="l-col u-text--right">
                <a href="#payment-confirmation" class="btn btn--primary btn--lg">
                  <span class="btn__wrapper">
                    <span class="btn__text" data-btn="Continue to order review">Continue to order review</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="completed">
          <div class="l-container-fluid">
            <div class="l-row justify--between row-mb">
              <div class="l-col l-col-auto">
                <h2>2. Payment</h2>
              </div>
              <div class="l-col l-col-auto align--self--end">
                <h4>Step 2/3</h4>
              </div>
            </div>
            <div class="l-col-auto">
              <div class="l-row">
                <div class="l-col">
                  <p>
                  <strong>PAYMENT METHOD</strong><br>
                  Mastercard
                  </p>
                </div>
                <div class="l-col">
                  <p>
                  <strong>BILLING ADDRESS</strong><br>
                  Same as shipping address
                  </p>
                </div>
                <div class="l-col l-col-auto align--self--end z-1">
                  <a href="#edit" class="btn btn--primary btn">
                    <span class="btn__wrapper">
                      <span class="btn__text" data-btn="Edit">Edit</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="step__wrapper step__wrapper--second step__wrapper--full step__wrapper--hide">
      <div class="step__item step__item--hide step__item--confirmation step__item--full">
        <div class="back">
          <div class="back__arrow back__arrow--left">
            <span></span>
            <div class="back__arrow__bg"></div>
          </div>
        </div>
        <div class="step__item">
          <div class="l-container-fluid">
            <div class="l-row justify--between">
              <div class="l-col l-col-auto">
                <h2>Order Overview</h2>
              </div>
            </div>
            <div class="l-row l-flex-column justify--between l-flex-1">
              <div class="l-col l-col-auto">
                <ul class="list-products">
                  <li class="list-products__item">
                    <figure>
                      <img src="assets/images/S101301T00_1500_big.jpg" alt="">
                    </figure>
                    <div class="list-products__item__info l-flex-1">
                      <h4>Jacket Island (MRW)</h4>
                      <p>NAVY BLUE, M SIZE<br>
                      QTY: 1</p>
                    </div>
                    <div class="list-products__item__price">€ 170.00</div>
                  </li>
                </ul>
              </div>
              <div class="l-col l-col-auto">
                <div class="l-row block block--shipping">
                  <div class="l-col">
                    <p>SHIPPING<br>
                    TAX (INCLUDED)</p>
                  </div>
                  <div class="l-col l-col-auto">
                    <strong>€ 7,20</strong>
                  </div>
                </div>
                <div class="l-row block block--coupon">
                  <div class="l-col">
                    <form action="">
                      <input type="text" placeholder="Coupon code">
                      <button>Apply</button>
                    </form>
                  </div>
                </div>
                <div class="l-row block block--total">
                  <div class="l-col l-flex justify--between u-transform--uppercase">
                    <h5>Order total</h5>
                    <h5>€ 177,20</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="l-container-fluid">
          <div class="l-row">
            <div class="l-col l-col-auto">
              <h2>Payment Confirmation</h2>
            </div>
          </div>
          <div class="l-row">
            <div class="l-col">
              <p>
                <strong>ORDER REFERENCE:</strong> 01234567<br>
                <strong>TOTAL CHARGE:</strong>  01234567<br>
                <br>
                <strong>PAY WITH:</strong> MASTERCARD
              </p>
            </div>
          </div>
          <div class="l-row">
            <div class="l-col">
              <form action="">
                <div class="l-row">
                  <div class="l-col">
                    <label for="">Cardholder’s name</label>
                    <input type="text">
                  </div>
                </div>
                <div class="l-row">
                  <div class="l-col">
                    <label for="">Card number</label>
                    <input type="text">
                  </div>
                </div>
                <div class="l-row">
                  <div class="l-col-6">
                    <label for="">Expiry date (mm / yyyy)</label>
                    <div class="l-row l-row-nopadding">
                      <div class="l-col l-col-nopadding">
                        <input type="text"></input>
                      </div>
                      <div class="l-col l-col-nopadding">
                        <input type="text"></input>
                      </div>
                    </div>
                  </div>
                  <div class="l-col-6">
                    <label for="">Card verification code</label>
                    <input type="text">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="l-row block block--btns">
            <div class="l-col-6">
              <div class="l-row">
                <div class="l-col-12">
                  <label for="newsletter" class="label--sm">
                    <input type="checkbox" name="newsletter" value="1" id="newsletter">
                    <span></span> Subscribe to our newsletter
                  </label>
                </div>
                <div class="l-col-12">
                  <label for="terms" class="label--sm">
                    <input type="checkbox" name="terms" value="1" id="terms">
                    <span></span> I accept the terms and conditions
                  </label>
                </div>
              </div>
            </div>
            <div class="l-col-6 u-text--right align--self--end">
              <a class="btn btn--primary btn--lg" href="#thank-you"><span class="btn__wrapper"><span class="btn__text"data-btn="Complete purchase">Complete purchase</span></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="step__wrapper step__wrapper--third step__wrapper--full step__wrapper--hide">
      <div class="step__item step__item--hide step__item--thank-you step__item--full">
        <div class="logo"></div>
        <div class="l-container-fluid">
          <div class="l-row">
            <div class="l-col l-col-auto">
              <h2>Thank you!</h2>
            </div>
          </div>
          <div class="l-row">
            <div class="l-col">
              <div class="line"></div>
            </div>
          </div>
          <div class="l-row">
            <div class="l-col">
              <p>
                Your order was correctly entered in our system and you paid by using Credit Card.
              </p>
              <p>
                <strong>YOUR ORDER NUMBER IS: ABCDEFGHILMNO123</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <aside>
    <figure data-animate>
      <img src="assets/images/inwind3-1.jpg" alt="">
    </figure>
  </aside>
</div>
{% endblock %}