{% extends 'templates/_default.nunj.html' %}


{% block main %}
<div class="barba-container" data-namespace="products">
<main>
  <section class="header">
    <div class="header__title">Giacche</div>
    <div class="header__description">La giacca Slam è l’estetica del mare.</div>
  </section>
  <section class="toolbar">
    <div class="l-container toolbar__header">
      <div class="l-row align--items--center">
        <div class="l-col">
          <a href="#!" class="filter-toggle">Filter <span class="triangle"></span></a>
        </div>
        <div class="l-col l-col-auto l-flex align--items--center">
            <a href="#!">Sort <span class="triangle"></span></a>
            <div class="select-promo">
              <a href="#!" class="select-promo__item select-promo__item--active"><span>All</span></a><!--
              --><a href="#!" class="select-promo__item select-promo__item--sale"><span>Sale</span></a>
            </div>
        </div>
      </div>
    </div>
    <div class="panel panel--filter">
      <div class="l-container">
        <div class="l-row">
          <div class="l-col">
            <h3>Color</h3>
            <ul class="colors">
              <li class="filter__active"><span></span> All</li>
              <li><span class="color--1"></span> Black</li>
              <li><span class="color--2"></span> Blue</li>
              <li><span class="color--3"></span> Grey</li>
              <li><span class="color--4"></span> Red</li>
              <li><span class="color--5"></span> Yellow</li>
              <li><span class="color--6"></span> White</li>
              <li><span><img src="assets/images/icons/multicolor.svg"></span> Multicolor</li>
            </ul>
          </div>
          <div class="l-col">
            <h3>Size</h3>
            <ul>
              <li class="filter__active"><span></span> All</li>
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li>XL</li>
              <li>XXL</li>
              <li>3XL</li>
            </ul>
          </div>
          <div class="l-col">
            <h3>Technology</h3>
            <ul>
              <li class="filter__active"><span></span> All</li>
              <li>2 layers construction</li>
              <li>3 layers construction</li>
              <li>4 way stretch</li>
              <li>Abrasion resistant</li>
              <li>Bacteriostatic</li>
              <li>Breathable</li>
              <li>Comfortable</li>
            </ul>
          </div>
          <div class="l-col">
            <h3>Usability</h3>
            <ul>
              <li class="filter__active">All</li>
              <li>Offshore</li>
              <li>Onshore</li>
            </ul>
          </div>
          <div class="l-col">
            <h3>Collection</h3>
            <ul>
              <li class="filter__active">All</li>
              <li>Crew & Technical</li>
              <li>Pro</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="products">
    <div class="l-container">
      <div class="l-row">
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                <div class="product__item__badge product__item__badge--new">New</div>
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview modal-example">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S101346T00_1500_mediumf.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">S</div>
                  <div class="size">M</div>
                  <div class="size">L</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                  <div class="product__item__badge product__item__badge--sale">Sale</div>
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S124012T00_1500_medium.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">Many sizes</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 120.00</span>
                  <span class="product__item__price--sale">€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S101290T00_5000_medium.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">S</div>
                  <div class="size">M</div>
                  <div class="size">L</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S101348T00_3910_medium.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">S</div>
                  <div class="size">M</div>
                  <div class="size">L</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S101347T00_A500_medium.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">S</div>
                  <div class="size">M</div>
                  <div class="size">L</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S101270T00_E060_medium.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">S</div>
                  <div class="size">M</div>
                  <div class="size">L</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S101350T00_0360_medium.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">Many sizes</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
        <div class="l-col-8">
          <figure class="product__bg" data-animate>
            <img src="assets/images/GDQ_8454.jpg" alt="">
          </figure>
        </div>
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S101348T00_3910_medium.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">S</div>
                  <div class="size">M</div>
                  <div class="size">L</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S101348T00_3910_medium.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">S</div>
                  <div class="size">M</div>
                  <div class="size">L</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
        <div class="l-col-4">
          <a href="#!" class="product">
            <figure class="product__item">
              <div class="product__item__picture">
                <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                <img src="assets/images/S101348T00_3910_medium.png" alt="" class="picture">
              </div>
              <figcaption>
                <div class="product__item__types">
                  <div class="color color--1"></div>
                  <div class="color color--2"></div>
                  <div class="color color--4"></div>
                  <div class="color color--5"></div>
                </div>
                <div class="product__item__sizes">
                  <div class="size">S</div>
                  <div class="size">M</div>
                  <div class="size">L</div>
                </div>
                <div class="product__item__title">
                  Lorem ipsum (MRW)
                </div>
                <div class="product__item__price">
                  <span>€ 167.00</span>
                </div>
                <div class="product__item__description">
                  With a double padded layer, Island Jacket has a synthetic padding with the softness…
                </div>
              </figcaption>
            </figure>
          </a>
        </div><!-- -->
      </div>
    </div>
  </section>
</main>

{% include 'partials/_modal.nunj.html' %}

</div>
{% endblock %}