{% extends 'templates/_default.nunj.html' %}


{% block main %}
<div class="barba-container" data-namespace="register">
<main class="bg--gray-light">
  <div class="l-container l-flex">
    <div class="l-row l-flex-1 align--items--center justify--center">
      <div class="l-col-12">
        <div class="l-row">
          <div class="l-col l-col-auto">
            <h2>Create my account</h2>
            <form action="" class="l-flex">
              <input type="text" placeholder="Name and Last name">
              <input type="text" placeholder="Email address">
              <input type="text" placeholder="Password">
            </form>
            <a href="#!" class="btn btn--primary btn--block">
              <span class="btn__wrapper"><span class="btn__text" data-btn="Create my account">Create my account</span></span>
            </a>
          </div>
          <div class="l-col l-col-text">
            <p>
              <strong>* All fields marked with the symbol * are mandatory.</strong>
            </p>
            <label for="check-1" class="label--sm">
              <input type="checkbox" name="check-1" value="1" id="check-1">
              <span></span> I confirm having read and fully understood the Privacy Statement on personal data processing by SLAM S.p.A with the methods indicated in the Statement and specifically:
            </label>
            <label for="check-2" class="label--sm">
              <input type="checkbox" name="check-2" value="1" id="check-2">
              <span></span> I confirm my acceptance to the processing of my personal information for marketing and informative and promotional purposes, included of commercial nature, among which your newsletter, exclusively by SLAM S.p.A.
            </label>
            <label for="check-3" class="label--sm">
              <input type="checkbox" name="check-3" value="1" id="check-3">
              <span></span> I confirm my acceptance to the processing of my personal information, anonymous, for market research, statistics exclusively by SLAM S.p.A.
            </label>
            <p>
              <a href="#!">Consult the General Conditions of Sale</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
{% endblock %}