{% extends 'templates/_default.nunj.html' %}


{% block main %}
<div class="barba-container" data-namespace="story">
  <main>
    <section class="hero">
      <div class="l-container">
        <div class="l-row">
          <div class="l-col-12">
            <figure data-animate>
              <img src="assets/images/1196x697-08b.jpg" alt="">
              <figcaption class="hero__title">
                <h1 data-storytitle>I have a dream: la Vendée Globe</h1>
              </figcaption>
            </figure>
          </div>
          <div class="l-col-8 hero__meta" data-fade>
            <strong>AUTHOR:</strong> Name Surname
          </div>
          <div class="l-col-4 hero__meta hero__meta--double">
            <time data-fade>
              <strong>Date:</strong> Sept, 29 - 2017
            </time>
            <div class="read" data-fade>
              <strong>READ:</strong> 3 minutes
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="article">
      <article>
        <div class="l-container">
          <div class="l-row">
            <div class="l-col-8">
              <div class="l-row">
                <div class="l-col-12">
                  <h1 data-subtitle>Il giro del mondo in solitario senza scalo e assistenza. Ma con una tavoletta di cioccolato sempre in tasca!</h1>
                </div>
              </div>
              <div class="l-row" data-article>
                <div class="l-col-6 col-p">
                  <p>Andrea Fantini è goloso di cioccolato e di avventure. Nelle sue vene scorre il mare. Testa ricca di cultura, studi classici e laurea in farmacia, cuore aperto verso il mare. Fin da bambino andava in barca con i suoi genitori, leggeva i libri dei navigatori solitari della Vendée Globe. A 18 anni inizia a navigare, ma la vera sfida arriva a 23 anni, con la prima traversata atlantica.</p>
                  <p>Da allora non ha mai smesso. Ha avuto grandi maestri, tra cui Giovanni Soldini. L’ha definito un uomo crudo e diretto, ma che spinge ad andare avanti senza mollare mai. Imbarcarsi con lui è stata un’esperienza indimenticabile che rifarebbe anche domani.</p>
                  <p>Andare in mare, per Andrea, è una sfida meravigliosa, ma non con l’acqua, perché sarebbe una gara persa. È una sfida con se stesso, con i suoi limiti. La paura in mare è importante, è quella che fa capire i propri limiti e li fa superare.</p>
                </div>
                <div class="l-col-6 col-p">
                  <p><em>La Transat Jacques Vabre. Uno stop inaspettato che ci fa riflettere… perché lasciamo che il mare affondi così?</em></p>
                  <p>“Sul momento c’è tanta incredulità, tipo… non è possibile, non può essere vero, non proprio a noi! Poi subentra la frustrazione, perché sei costretto a prendere una decisione durissima ma inevitabile, quella di ritirarti dalla regata, e ti sembra di aver buttato mesi – anzi, anni – di lavoro e fatica. Lo stadio successivo è la rabbia mista a tristezza, quando realizzi che quello che hai colpito era probabilmente lì per colpa dell’uomo.”</p>
                  <p>Durante la Transat Jacques Vabre, nel novembre 2017, Andrea Fantini e il suo co-skipper Alberto Bona sono stati costretti a ritirarsi per lo scontro con un Unidentified Floating Object. Un UFO, insomma, di quelli che danneggiano non solo gli scafi ma anche la bellezza dei nostri mari. Uno stop inaspettato che li ha costretti a fare rotta verso il Portogallo: i danni al timone hanno poi obbligato i due velisti al ritiro.</p>
                </div>
              </div>
            </div>
            <div class="l-col-4">
              <figure data-animate>
                <img src="assets/images/366x577-08b.jpg">
              </figure>
            </div>
          </div>
        </div>
      </article>
    </section>
    <section class="gallery" data-slider="gallery">
      <div class="l-container">
        <div class="l-row">
          <div class="l-col">
            <h2 data-subtitle>Gallery</h2>
          </div>
          <div class="l-col align--self--center">
            <div class="slider__navigator" data-fade>
              <div>
                <div class="slider__navigator--lines">
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                  <div class="slider__navigator__line"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="l-col l-col-auto align--self--center">
            <div>
              <div class="slider__navigator--arrows" data-fade>
                <div>
                  <div class="slider__navigator__arrow slider__navigator__arrow--left">
                    <span></span>
                    <div class="slider__navigator__arrow__bg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="l-col l-col-slider">
            <div class="slider">
              <figure data-slide data-animate>
                <img src="assets/images/758x553-gallery-08b-1.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-2.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-3.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-4.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-5.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-6.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-7.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-8.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-9.jpg" alt="">
              </figure>
              <figure data-slide>
                <img src="assets/images/758x553-gallery-08b-10.jpg" alt="">
              </figure>
            </div>
          </div>
          <div class="l-col l-col-auto align--self--center">
            <div>
              <div class="slider__navigator--arrows" data-fade>
                <div>
                  <div class="slider__navigator__arrow slider__navigator__arrow--right">
                    <span></span>
                    <div class="slider__navigator__arrow__bg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="article bg--gray-light">
      <article>
        <div class="l-container">
          <div class="l-row" data-article>
            <div class="l-col-4 col-p">
              <p>“Stiamo navigando bene, barca in equilibrio e veloce, morale alto, andiamo alla grande, siamo in pieno in regata, nel gruppo dei primi. Poi sentiamo un colpo, sordo e forte, e ci rendiamo conto immediatamente che non è uno dei mille rumori della barca, ma diverso da tutti gli altri. Abbiamo un attimo per capire cosa è successo, cosa fare e come farlo. Le emozioni vengono dopo: prima bisogna concentrarsi sulle manovre per mettere in sicurezza la barca, tappare la falla ed evitare di perdere il timone. Poi ti arrabbi, tanto, perché anche se si sa che il mare è pieno di plastica, oggetti, schifezze di ogni genere che abbiamo messo noi, quando ci sbatti contro sul serio e in prima persona ti rendi conto che parlarne, sensibilizzare, agire non è mai abbastanza.</p>
            </div>
            <div class="l-col-4 col-p">
              <p>Non si può abbassare la guardia perché, come le onde, tutto quel che facciamo ci torna contro. Sarà il destino, il fato, la natura. Però la paghiamo noi e non capisco come si possa non capire un concetto così semplice.”</p>
              <p>Andrea ha un bellissimo rapporto con il mare, non di sfida ma di rispetto.</p>
              <p>Se Andrea vede un delfino o una balena si emoziona come un bambino, il mare là fuori per lui è sempre qualcosa di straordinario, è un privilegio poterlo vivere in questo modo. Libero, immerso in una natura che dovrebbe essere incontaminata.</p>
            </div>
            <div class="l-col-4 col-p">
              <p>Per questo l’incontro con l’UFO non è stata solo una limitazione alla sua traversata, è stato qualcosa di più. Uno scontro con una realtà che vede il mare oggetto di poco rispetto da parte dell’uomo. Il mare che offre ogni giorno uno spettacolo emozionante, per chi lo vive e per chi lo solca.</p>
            </div>
          </div>
          <div class="share">
            <div class="share__wrapper">
              <p>
                <strong>Share this story:</strong>
                <a href="#!" class="social"><img src="assets/images/icons/facebook.svg"></a>
                <a href="#!" class="social"><img src="assets/images/icons/twitter.svg"></a>
              </p>
            </div>
          </div>
        </div>
      </article>
    </section>
    <section class="shop-by-look">
      <div class="l-container products">
        <header>
          <h3 data-subtitle>Shop by Look</h3>
        </header>
        <div class="l-row">
          <div class="product__items l-flex">
            <div class="l-container-fluid l-flex">
              <div class="l-row l-flex">
                <div class="l-col-4 l-flex">
                  <a href="#!" class="product">
                    <figure class="product__item" data-animate>
                      <div class="product__item__picture">
                        <div class="product__item__badge product__item__badge--new">New</div>
                        <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                        <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                        <img src="assets/images/S101346T00_1500_mediumf.png" alt="" class="picture">
                      </div>
                      <figcaption>
                        <div class="product__item__types">
                          <div class="color color--1"></div>
                          <div class="color color--2"></div>
                          <div class="color color--4"></div>
                          <div class="color color--5"></div>
                        </div>
                        <div class="product__item__sizes">
                          <div class="size">S</div>
                          <div class="size">M</div>
                          <div class="size">L</div>
                        </div>
                        <div class="product__item__title">
                          Lorem ipsum (MRW)
                        </div>
                        <div class="product__item__price">
                          <span>€ 167.00</span>
                        </div>
                        <div class="product__item__description">
                          With a double padded layer, Island Jacket has a synthetic padding with the softness…
                        </div>
                      </figcaption>
                    </figure>
                  </a>
                </div>
                <div class="l-col-4 l-flex">
                  <a href="#!" class="product">
                    <figure class="product__item" data-animate>
                      <div class="product__item__picture">
                        <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                        <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                        <img src="assets/images/S124012T00_1500_medium.png" alt="" class="picture">
                      </div>
                      <figcaption>
                        <div class="product__item__types">
                          <div class="color color--1"></div>
                          <div class="color color--2"></div>
                          <div class="color color--4"></div>
                          <div class="color color--5"></div>
                        </div>
                        <div class="product__item__sizes">
                          <div class="size">S</div>
                          <div class="size">M</div>
                          <div class="size">L</div>
                        </div>
                        <div class="product__item__title">
                          Lorem ipsum (MRW)
                        </div>
                        <div class="product__item__price">
                          <span>€ 167.00</span>
                        </div>
                        <div class="product__item__description">
                          With a double padded layer, Island Jacket has a synthetic padding with the softness…
                        </div>
                      </figcaption>
                    </figure>
                  </a>
                </div>
                <div class="l-col-4 l-flex">
                  <a href="#!" class="product">
                    <figure class="product__item" data-animate>
                      <div class="product__item__picture">
                        <div class="product__item__badge product__item__badge--favorite"><img src="assets/images/icons/favorite.svg" alt=""></div>
                        <div class="product__item__badge product__item__badge--quickview">Quick view <img src="assets/images/icons/quick-view.svg" alt=""></div>
                        <img src="assets/images/S101290T00_5000_medium.png" alt="" class="picture">
                      </div>
                      <figcaption>
                        <div class="product__item__types">
                          <div class="color color--1"></div>
                          <div class="color color--2"></div>
                          <div class="color color--4"></div>
                          <div class="color color--5"></div>
                        </div>
                        <div class="product__item__sizes">
                          <div class="size">S</div>
                          <div class="size">M</div>
                          <div class="size">L</div>
                        </div>
                        <div class="product__item__title">
                          Lorem ipsum (MRW)
                        </div>
                        <div class="product__item__price">
                          <span>€ 167.00</span>
                        </div>
                        <div class="product__item__description">
                          With a double padded layer, Island Jacket has a synthetic padding with the softness…
                        </div>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>
  </main>
</div>
{% endblock %}