{% extends 'templates/_default.nunj.html' %}


{% block main %}
<div class="barba-container" data-namespace="stories">
  <main>
    <section class="hero l-flex">
      <a href="#!" class="hero__link"><figure data-animate><img src="assets/images/DSC_5782f.jpg" alt=""></figure></a>
      <div class="l-container-fluid l-flex l-flex-1">
        <div class="l-row align--items--center l-flex-1">
          <div class="offset-1 l-col-4 order-1">
            <h1 class="hero__title" data-title>Stories</h1>
            <div class="hero__line"></div>
            <p class="hero__description" data-subtitle>
              News from the Slam world.
            </p>
          </div>
          <div class="l-col-6 offset--lg-2 l-col--lg-5 align--self--end order-0">
            <article>
              <div class="article__meta">SEPTEMBER, 29 - 2017</div>
              <h2 class="article__title" data-subtitle>Win-d Racing Jacket</h2>
              <a href="#!"><span>Read Now</span> <svg width="70" height="15" viewBox="0 0 70 15" xmlns="http://www.w3.org/2000/svg"><path d="M.999 8.186h58v5.186a.999.999 0 0 0 1.581.813l8.659-6.186a.997.997 0 0 0 .001-1.626L60.581.187a.995.995 0 0 0-1.039-.076A1 1 0 0 0 59 1v5.186H1a1 1 0 0 0-.001 2z" fill="#ffffff" /></svg></a>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="navbar">
      <div class="l-container l-flex justify--center">
        <div class="navbar__item navbar__item--active"><a href="#!">All</a></div>
        <div class="navbar__item"><a href="#!">Pro</a></div>
        <div class="navbar__item"><a href="#!">Crew</a></div>
        <div class="navbar__item"><a href="#!">Barcolana</a></div>
      </div>
    </section>
    
    <section class="latest-stories">
      <div class="l-container">
        <div class="l-row" data-stagger>
          <div class="l-col-4">
            <a data-nav data-namespace="story" href="story.html" class="l-story">
              <figure   >
                <div class="l-story__bg">
                  <img src="assets/images/fantini.jpg">
                </div>
                <figcaption>
                  <div class="l-story__category">Andrea Fantini</div>
                  <h4 class="l-story__title" data-subtitle>I have a dream: la Vendée Globe</h4>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="l-col-4">
            <a href="#!" class="l-story">
              <figure>
                <div class="l-story__bg">
                  <img src="assets/images/GD7_1353.jpg" alt="">
                </div>
                <figcaption>
                  <div class="l-story__category">Pro</div>
                  <h4 class="l-story__title" data-subtitle>Lorem ipsum dolor sit amet</h4>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="l-col-4">
            <a href="#!" class="l-story">
              <figure   >
                <div class="l-story__bg">
                  <img src="assets/images/GDQ_8363.jpg" alt="">
                </div>
                <figcaption>
                  <div class="l-story__category">Casual</div>
                  <h4 class="l-story__title" data-subtitle>Curabitur condimentum auctor ex</h4>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="latest-stories highlights-stories bg-half">
      <div class="l-container">
        <div class="l-row" data-stagger>
          <div class="l-col-6 first">
            <header>
              <h3 data-subtitle>Popular now</h3>
            </header>
            <a href="#!" class="l-story">
              <figure   >
                <div class="l-story__bg">
                  <img src="assets/images/GD4_8507f Copy 2.jpg" alt="">
                </div>
                <figcaption>
                  <div class="l-story__category">Pro</div>
                  <h4 class="l-story__title" data-subtitle>Lorem ipsum dolor sit amet</h4>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="l-col-6 last">
            <header>
              <h3 data-subtitle>Most watched</h3>
            </header>
            <a href="#!" class="l-story l-story--video">
              <figure   >
                <div class="l-story__bg">
                  <img src="assets/images/GD4_8507f Copy.jpg" alt="">
                </div>
                <figcaption>
                  <div class="l-story__category">Pro</div>
                  <h4 class="l-story__title" data-subtitle>Lorem ipsum dolor sit amet</h4>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="latest-stories latest-stories--p1">
      <div class="l-container">
        <div class="l-row" data-stagger>
          <div class="l-col-4">
            <a href="#!" class="l-story">
              <figure>
                <div class="l-story__bg">
                  <img src="assets/images/GD7_1353 Copy.jpg">
                </div>
                <figcaption>
                  <div class="l-story__category">Casual</div>
                  <h4 class="l-story__title" data-subtitle>Lorem ipsum dolor sit amet</h4>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="l-col-4">
            <a href="#!" class="l-story">
              <figure   >
                <div class="l-story__bg">
                  <img src="assets/images/GDQ_8363 Copy 2.jpg" alt="">
                </div>
                <figcaption>
                  <div class="l-story__category">Pro</div>
                  <h4 class="l-story__title" data-subtitle>Lorem ipsum dolor sit amet</h4>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="l-col-4">
            <a href="#!" class="l-story">
              <figure   >
                <div class="l-story__bg">
                  <img src="assets/images/GDQ_8363 Copy.jpg" alt="">
                </div>
                <figcaption>
                  <div class="l-story__category">Casual</div>
                  <h4 class="l-story__title" data-subtitle>Curabitur condimentum auctor ex</h4>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="latest-stories latest-stories--p0">
      <div class="l-container">
        <div class="l-row" data-stagger>
          <div class="l-col-8">
            <a href="#!" class="l-story l-story--video">
              <figure   >
                <div class="l-story__bg">
                  <img src="assets/images/GD7_1353 Copy 2.jpg">
                </div>
                <figcaption>
                  <div class="l-story__category">Casual</div>
                  <h4 class="l-story__title" data-subtitle>Lorem ipsum dolor sit amet</h4>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="l-col-4">
            <a href="#!" class="l-story">
              <figure   >
                <div class="l-story__bg">
                  <img src="assets/images/GD4_8507f Copy 3.jpg" alt="">
                </div>
                <figcaption>
                  <div class="l-story__category">Pro</div>
                  <h4 class="l-story__title" data-subtitle>Lorem ipsum dolor sit amet</h4>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </section>
   
  </main>
</div>
{% endblock %}